
.loading-state {
  .loading-spinner {
    position: relative;
    padding-bottom: 24px;
    width: 100%;
    min-width: 20px;

    @keyframes loading-spinner {
      to {
        transform: rotate(360deg)
      }
    }

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #8c8c8c;
      border-top-color: #000;
      animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
  }

  .loading-message {

  }
}
