
.loader-balls {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;

  .loader-balls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .loader-balls-item {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(26, 26, 26, 0.4);

    &:nth-child(1) {
      animation: bouncing .75s alternate infinite ease-in-out
    }

    &:nth-child(2) {
      animation: bouncing .75s .1875s alternate infinite ease-in-out backwards
    }

    &:nth-child(3) {
      animation: bouncing .75s .375s alternate infinite ease-in-out backwards
    }
  }
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    transform: translate3d(0, -5px, 0)
  }
}
