.s-select-wrapper {
  .s-select {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 1px;

    &:after {
      border: 3px solid #57b627;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: ' ';
      display: block;
      height: .71429em;
      margin-top: -.5em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: .71429em;
      right: 1.28571em;
    }

    &.is-loading::after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid #f3f3f3;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: '';
      display: block;
      height: 1em;
      position: relative;
      width: 1em
    }

    &.floating-label {
      .s-label {
        display: block;
        font-size: .85714em;
        font-weight: normal;
        position: absolute;
        top: 0;
        width: 100%;
        margin: .5em 0 0 1px;
        padding: 0 1.25em;
        z-index: 1;
        user-select: none;
        transform: translateY(3px);
        pointer-events: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;
        opacity: 0;
        text-align: left;
        color: #777;
        transition: all 0.2s ease-out
      }
    }

    &.is-show-floating-label {
      .s-select-inner {
        padding-top: 1.5em;
        padding-bottom: .35714em;
      }
    }

    &.is-active {
      .s-select-inner {
        outline: none;
        border-color: #57b627;
      }
    }

    &.is-disabled {
      .s-select-inner {
        background-color: #f4f5f6;
        border-color: #f4f5f6;
        color: #d8d8d8;
        cursor: not-allowed;
        &::placeholder {
          color: rgba(216, 216, 216, 0.3);
        }
      }
      .s-input-icon {
        cursor: not-allowed;
      }
    }

    &.is-loading {
      &::after {
        position: absolute !important;
        right: 0.625em;
        top: calc(50% - 0.5em);
        z-index: 4;
      }
    }

    &.is-medium {
      font-size: 1em;
      .s-select-inner {
        height: 3.42857em;
        line-height: normal;
      }
    }

    &.is-show-floating-label {
      .s-label {
        transform: none;
        opacity: 1;
      }
      .s-select-inner {
        padding-top: 1.5em;
        padding-bottom: .35714em;
      }
    }

    .s-select-inner {
      -webkit-appearance: none;
      background-color: #fff;
      background-image: none !important;
      border-radius: 4px;
      border: 1px solid #c1c1c1;
      box-sizing: border-box;
      color: #000;
      display: inline-block;
      height: 2.57143em;
      line-height: normal;
      outline: none;
      padding: 0 1.07143em;
      transition: all 0.2s ease-out;
      width: 100%;
      &::placeholder {
        color: #777;
      }
      &:hover {
        border-color: #c1c1c1;
      }
      &:focus {
        outline: none;
        border-color: #57b627;
        box-shadow: 0 0 0 1px #57b627;
      }

      &.is-invalid {
        border-color: #d16262;
        box-shadow: 0 0 0 1px #d16262;
      }
    }

    &.is-fullwidth {
      width: 100%
    }


    .s-input-validateIcon {
      pointer-events: none;
    }

    select {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-size: 1em;

      &.placeholder {
        color: #767676 !important;
      }
    }
  }
}
