#model-hero {
  padding: 15vh 0;
  background-color: #f8f8f8;
}

#request .btn-default {
  height: 40px;
  line-height: 38px;
}

#request .form-control {
  height: 40px;
}

#request .dropdown-toggle {
  background-color: #fff;
}

#request .dropdown-toggle .fa {
  height: 40px;
  width: 40px;
  line-height: 38px;
}

#request .dropdown-toggle img {
  top: 14px;
  right: 74px;
}

#request .dropdown-menu ul > li > a img {
  top: 12px;
  right: 30px;
}

#request .dropdown-menu ul > li > a.active img {
  display: none;
}

.dropdown-menu ul > li > a.active:after {
  right: 30px;
}


.field-validation-error:before {
  left: auto;
  right: -75px;
}

.field-validation-error:after {
  right: -18px;
  left: auto;
}

.input-validation-error {
  border-color: red !important;
}

.form-group .input-group .form-control.input-validation-error + .input-group-addon,
.form-group .form-control ~ .input-group-addon.input-validation-error,
.form-group select.input-validation-error + .btn-group + .input-group-addon {
  color: red;
  border-color: red;
  background-color: rgb(255,245,245);
}

.message {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 40px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  z-index: 9999;
}

#request #IMEI ~ .field-validation-error {
  margin-top: 0;
}

.valid-flag {
  background-color: rgb(0,122,255);
  border-radius: 3px;
  color: #fff;
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: -115px;
  width: 58px;
  height: 20px;
  line-height: 20px;
}

.valid-flag:before {
  left: -8px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: rgb(0,122,255);
  border-width: 4px;
  margin-top: -4px;
}

.invalid-flag {
  background-color: red;
  border-radius: 3px;
  color: #fff;
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: -115px;
  width: 58px;
  height: 20px;
  line-height: 20px;
}

.invalid-flag:before {
  left: -8px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: red;
  border-width: 4px;
  margin-top: -4px;
}

.form-group .input-group {
  width: 100% !important;
}

.form-group .form-control ~ .input-group-addon {
  background: #f9f9f9;
  border-left: 1px solid #c5c5c5;
  font-size: 1.15em;
  cursor: pointer;
  width: 40px;
  color: #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-group .form-control ~ .input-group-addon:hover {
  color: rgb(0,122,255);
}

.btn-group .btn {
  padding: 0 12px;
}

.btn-group + .input-group-addon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.15em;
  border-left: 1px solid #c5c5c5;
  background-color: #f9f9f9;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  color: #aaa;
  z-index: 3;
  line-height: 26px;
  cursor: pointer;
}

.btn-group + .input-group-addon:hover {
  color: rgb(0,122,255);
}

.btn-group .fa-chevron-down.fa-align {
  right: 36px;
}

.dropdown-menu {
  z-index: 9999999;
}

.dropdown-backdrop {
  position: absolute;
  left: -40px;
  width: 100%;
}

#request select.form-control {
  background-image: url(/media/images/select-arrow-down.png);
  background-repeat: no-repeat;
  background-position: right 40px center;
}

@media (min-width: 320px) {
  #SalesPromo {
    top: -75px;
  }

  #model-hero {
    padding: 80px 0;
    background-color: #f8f8f8;
  }

  #request .field-validation-error {
    margin: -30px 50px 0 0;
  }

  .valid-flag {
    right: 10px;
  }

  .valid-flag:before {
    display: none;
  }

  .invalid-flag {
    right: 10px;
  }

  .invalid-flag:before {
    display: none;
  }

  .help-tip {
    position: relative;
    height: 0;
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
  }

  .help-tip.right-align {
    right: auto;
    left: auto;
  }

  .help-tip.left-align {
    left: auto;
    right: auto;
  }

  .help-tip:after, .help-tip:before {
    top: -10px;
  }

  .help-tip.right-align:after {
    right: 9px;
    transform: rotate(90deg);
  }

  .help-tip.right-align:before {
    right: 8px;
    transform: rotate(90deg);
    border-width: 11px;
    margin-top: -12px;
  }

  .device-image {
    margin: 0 -10% -100px;
    max-width: 120%;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  #SalesPromo {
    top: 0;
  }

  #PhoneUnlockForm {
    padding: 0 15px;
  }

  #model-hero {
    padding: 15vh 0;
    background-color: #f8f8f8;
    margin: 0;
  }

  #request .field-validation-error {
    margin: 0 0 0 0;
  }

  .valid-flag {
    right: -115px;
  }

  .valid-flag:before {
    display: block;
  }

  .invalid-flag {
    right: -115px;
  }

  .invalid-flag:before {
    display: block;
  }

  .help-tip {
    opacity: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    width: 100%;
    padding: 15px;
    height: auto;
    z-index: 99999;
    display: none;
    -webkit-box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.15);
    box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.15);
  }

  .help-tip:after, .help-tip:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .help-tip.left-align:after {
    left: 100%;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
  }

  .help-tip.right-align:after {
    left: 100%;
    right: auto;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: 0;
    margin-left: -30px;
    transform: rotate(-90deg);
    top: 100%;
    bottom: auto;
  }

  .help-tip.left-align:before {
    border-color: rgba(221, 221, 221, 0);
    border-left-color: #ccc;
    border-width: 11px;
    margin-top: -11px;
    left: 100%;
  }

  .help-tip.right-align:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #ccc;
    border-width: 10px;
    margin-top: 1px;
    margin-left: -30px;
    left: 100%;
    right: auto;
    transform: rotate(-90deg);
    top: 100%;
    bottom: auto;
  }

  .help-tip.left-align {
    left: -300px;
    right: auto;
  }

  .help-tip.right-align {
    right: 0;
    left: auto;
  }

  .sales {
    position: absolute;
    top: -24px;
    left: 0;
  }

  #SalesPromo {
    top: 0;
    left: 15px;
  }

  .device-image {
    margin: -30px 0 -70px;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }

  #request .step .dropdown-controls .col-sm-4:nth-child(1) {
    padding-right: 7px
  }

  #request .step .dropdown-controls .col-sm-4:nth-child(2) {
    padding: 0 7px
  }

  #request .step .dropdown-controls .col-sm-4:nth-child(3) {
    padding-left: 7px
  }
}
