@import '../../themes/specific/loading-component';

.group-service-item {
  color: #111!important;
  display: inline-block;
  margin: 0 15px 15px;
  position: relative;

  &-image {
    margin-bottom: 5px
  }

  &.loading {
    .img-responsive {
      width: 6.2rem;
      height: 6.2rem;

      @include loading-component();
    }

    .name {
      @include loading-component();
      width: 4rem;
      height: 1.4rem;
      border-radius: 1rem;
      margin: 0.4rem auto auto;
    }
  }
}
