@import '../../themes/mixins/adaptive';
@import '../../themes/mixins/utils';
@import '../../themes/specific/loading-component';

.device-item {

  &.loading {
    .phone-thumb {
      width: 60%;
      @include loading-component();
    }

    .phone-name {
      @include loading-component();
      width: 70%;
      height: 1.4rem;
      border-radius: 1rem;
      margin-top: 0.4rem;
    }
  }

  .content-wrapper {
    padding: 30px 0;

    .content {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 1.6rem;
      .phone-thumb {
        height: 20rem;
        max-width: 100%;

        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s,-webkit-transform .3s;

        &:hover {
          -webkit-transform: scale(1.04);
          transform: scale(1.04);
        }
      }

      .phone-name {
        text-align: center;
        @include truncate(2);
      }
    }
  }

  @media (max-width: 520px) {
    .phone-thumb {
      height: 9rem!important;
    }
  }

  :global {
    .btn {
      margin-top: 0.8rem!important;
    }
    @media (min-width: 768px) {
      .btn {
        width: 50%;
        margin: 0 25%;
      }
    }

    @media (min-width: 320px) {
      .btn {
        width: 80%;
        margin: 0 10%;
      }
    }
  }
}
