.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  overflow-x: hidden;
  overflow-y: scroll !important;
  z-index: 999999;

  @media only screen and (min-width: 720px) {
    justify-content: center;
  }

  @media only screen and (max-width: 575px) {
    justify-content: flex-end;
    //margin-bottom: 6.4rem;
  }

  .modal-background {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(20,20,20,0.24);
  }

  .modal-content {
    z-index: 999999;
    width: 100%;
    height: auto;

    position: relative;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 8px 24px 0 rgba(20,20,20,0.16);
    border-radius: 16px 16px 0 0;

    .modal-close {
      left: unset;
      right: 14px;

      -moz-appearance: none;
      -webkit-appearance: none;
      user-select: none;
      vertical-align: top;
      outline: none;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: auto;
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 0;
      margin-bottom: -12px;
      position: absolute;
      bottom: calc(100% - 24px);
      height: 24px;
      max-height: 24px;
      max-width: 24px;
      min-height: 24px;
      min-width: 24px;
      width: 24px;
    }

    @media only screen and (min-width: 720px) {
      position: absolute;
      top: 56px;
      width: 100%;
      min-height: unset;

      border-radius: 8px;
    }

    @media only screen and (min-width: 1025px) {
      width: 744px;
      margin-bottom: 32px;
    }
  }
}
