.result-checking {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-wrapper {
      width: 100%;
      max-width: 600px;
    }
  }
}
