.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f8f8f8;

  .top-bar {
    z-index: 2;
    position: relative;
  }

  .container {
    margin-top: 4.4rem;
    overflow: hidden;
  }

  .content {
    flex: 1 1 auto;
  }

  .nav-bar {
    z-index: 3;
    width: 25.6rem;
    min-width: 25.6rem;
    flex: 0 0 auto;
  }
}
