.shop-links {
  -webkit-box-shadow: inset 0 -1px 0 0 #e2e4e8;
  box-shadow: inset 0 -1px 0 0 #e2e4e8;

  .shop-links-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: horizontal;
    -ms-flex-direction: horizontal;
    flex-direction: horizontal;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }

  .shop-links-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 16px 30px;
    font-size: 15px;
    font-weight: 500;
    a {
      color: #172b4d !important;
      &:active {
        color: #009fe0 !important;
        text-decoration: none;
      }
      &:focus {
        color: #009fe0 !important;
        text-decoration: none;
      }
      &:hover {
        color: #009fe0 !important;
        text-decoration: none;
      }
    }
    &:first-child {
      background-color: #ebecf0;
      width: 228px;
      padding-left: 16px;
      font-weight: 600;
    }
  }
}
