@import '../../themes/specific/loading-component';

.review-youtube-item {
  z-index: 2;
  margin: 15px 0;
  &.loading {
    .img {
      @include loading-component();
    }
  }

  .review-youtube-item-wrapper {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px #f6f6f6;
    border-radius: 5px;

    .wrapper-num-no-show {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00000054;
      color: #fff;
      font-size: 2.2rem;
      font-weight: 600;

      border-radius: 5px;
    }
  }

}
