@import '../../../../themes/mixins/adaptive';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;

  background-color: rgba(0,0,0,.8);
  transition: background-color 0.5s;

  &.is-open-side-nav {
    background-color: rgba(0,0,0,1);
  }

  .header-wrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    position: relative;
    margin: 10px 0!important;
    img {
      max-height: 24px;
      min-height: 24px;
    }
    .fit-logo {
      width: 100%;
      object-fit: contain;
    }
  }
  .logo-text {
    color: #1a1a1a;
    justify-content: center;
    &:hover {
      color: #000;
    }
    >div {
      display: inline-block;
      white-space: nowrap;
    }
  }
  .menu-content {
    a {
      color: #1A1A1A;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      margin: 0 40px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .cart-col {
    .search-icon {
      position: relative;
      cursor: pointer;
      z-index: 1;

      background-size: 32px auto;
      width: 40px;
      height: 40px;
      background-position: 4px -442px;
      padding: 10px;
    }
    .search-bar {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: relative;
      input {
        border: 1px solid #E6E6E6;
        border-radius: 0;
        width: 40px;
        height: 40px;
        padding: 0 28px 0 10px;
        position: absolute;
        right: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        transition: all .2s ease;
        &:focus {
          width: 180px;
          opacity: 1;
          z-index: 0;
          outline: none;
          border-color: #010101;
          transition: all .25s ease;
          cursor: text;
        }
      }
    }
    .search-icon-mobile {
      display: none;
      .search-icon {
        opacity: 1;
      }
    }
  }
  .cart-area {
    position: relative;
    .cart-icon {
      background-position: 0 -360px;
      background-size: 32px auto;
      display: inline-block;
      width: 24px;
      height: 24px;
    }

    .cart-number {
      cursor: pointer;
      border-radius: 50%;
      background-color: #22232A;
      color: #fff;
      font-size: 10px;
      letter-spacing: 0;
      line-height: 10px;
      position: absolute;
      padding: 3px;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}

.header.sticky {
  border-top: 0;
  position: fixed;
  top: 0;
  transition: .2s all;
  z-index: 5;
  width: 100%;
}
.header.responsive {
  .menu-content-mobile {
    display: none;
    .button-menu {
      background-position:-10px -510px;
      background-size: 40px;
      width: 24px;
      height: 24px;
      padding: 0;
      display: block;
    }
  }
}

@include adapt-to('small') {
  .header {
    .logo-col {
      transform: translateX(-22px);
      margin: auto;
      order: 2;
    }
    .menu-col {
      order: 1;
    }
    .cart-col {
      order: 3;
      .search-bar {
        display: none;
      }
      .search-icon-mobile {
        display: flex;
        position: relative;

        background-position: -1px -448px;
        background-size: 32px auto;
        width: 32px;
        height: 32px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
  .header.responsive {
    .menu-content-col {
      order: 1;
      .menu-content-desk {
        display: none;
      }
      .menu-content-mobile {
        width: 4.4rem;
        height: 4.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@include adapt-to('greater-small') {
  .header {
    .logo-col {
      justify-content: flex-start;
    }
    .cart-col {
      .search-icon {
        width: 40px;
        height: 40px;
        background-position: 4px -443px;
        padding: 10px;
      }
    }
  }
}

@include adapt-to('greater-medium') {
  .header {
    .logo-text {
      justify-content: unset;
    }
    .cart-drawer-content {
      max-width: 406px;
      min-width: 406px;
      left: auto;
    }
    .cart-drawer-content--active {
      top: calc(50% + 10px);
    }
  }
}

@include adapt-to('large') {
  .header {
    .site-nav--more-section {
      .site-nav__dropdown-link {
        width: auto;
      }
    }
  }
}
