.benefits-unlock {
  background-color: #fff;
  float: left;
  width: 100%;
  clear: both;

  .character {
    font-weight: 600;
    padding: 0 0 0 24px;
    background-image: url(/media/images/select-arrow.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 3px;
  }

  .option {
    margin: 15px 0 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    position: relative;
    z-index: 1;

    .option-icon-wrapper {
      background-color: #f2f2f2;
      border-top-right-radius: 0;

      .icon {
        line-height: 70px;
        margin: 0 0 0 15px;
      }
    }

    .option-character {
      padding: 15px 0 15px 30px;
      position: relative;

      &:not(:last-of-type) {
        border-bottom: 1px dotted #d5d5d5;
      }

      .option-character-icon {
        font-size: 19px;
        position: absolute;
        top: 16px;
        left: 0;
      }
    }
  }
}
