.site-nav {
  text-rendering: optimizeLegibility;
  white-space: nowrap;

  .site-nav-link {
    padding: 12px 0;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    color: #fefefe;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
      color: rgba(255,255,255,.75);
    }
  }

  .site-nav-more-section {
    .site-nav-more {
      display: flex!important;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      .site-nav-more {
        & + .site-nav-dropdown {
          opacity: 1;
          transition: transform 0.3s cubic-bezier(0.2, 0.06, 0.05, 0.95);
          pointer-events: auto;
        }
      }
    }

    .site-nav-dropdown-link {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .site-nav-dropdown {
    z-index: 51;

    top: 3rem;
    left: 0;

    background-color: #fff;
    min-width: 100%;
    box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.16);
    transform: translate3d(0, -12px, 0);

    display: block;

    .site-nav-item {
      padding: 0.7rem 1rem;
      width: 100%;

      &:hover {
        background-color: #f5f5f5;
        a {
          background-color: transparent;
          color: #000;
        }
      }

      .site-nav-link {
        color: #1a1a1a;
      }
    }
  }
}
