@import '../../themes/mixins/utils';
@import '../../themes/specific/loading-component';

.blog-item {
  .image {
    height: 16rem;
    width: 100%;

    border: solid 1px #f6f6f6;
    cursor: pointer;
  }

  .title {
    display: block;
    width: 100%;
    height: 100%;
    @include truncate(2);
  }
}
