.reason-in-phone {
  padding: 80px 0;
  clear: both;
  float: left;
  width: 100%;

  .reason-icon-left {
    font-size: 1.4em;
    margin: 0 15px 0 0;
  }

  .reason-icon-right {
    font-size: 1.4em;
    margin: 0 10px 0 0;
  }

  .reason-label {
    margin: 0 0 40px 43px;
    max-width: 360px;
  }
}
