@import '../../../../themes/variables/color';
@import '../../../../themes/mixins/icon';

.popup-mobile-alert {
  .alert-mobile-content {
    padding: 2rem 2rem;
    border-bottom: solid 0.1rem rgba(170, 170, 170, 0.3);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .dialog-header {
      margin-bottom: 0.4rem;
      .title {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
      }
    }

    .dialog-body {
      overflow: hidden;
      .message-content {
        text-align: center;

        b {
          font-weight: 600;
        }
      }
    }
  }

  .loading-state {
    margin-right: 0.5rem;
    .loading-icon {
      @include icon-size(1.6rem);
      margin-bottom: 0;
    }
  }

  .dialog-footer {
    display: flex;
    align-items: center;

    &.column {
      flex-direction: column;

      .button-first, .button-second {
        width: 100%;
        height: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
          background: $grey-5;
        }
      }



      .button-first {
        border-bottom: solid 0.1rem rgba(170, 170, 170, 0.3);
      }

      .button-second {
        &:active {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
    }

    &.row {
      .button-left, .button-right {
        height: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
          background: $grey-5;
        }
      }



      .button-right {
        width: 100%;
        border-left: solid 0.1rem rgba(170, 170, 170, 0.3);

        &:active {
          border-bottom-right-radius: 1rem;
        }
      }

      .button-left {
        width: 50%;
        min-width: 50%;
        &:active {
          border-bottom-left-radius: 1rem;
        }
      }
    }
  }
}
