@import '../../themes/specific/loading-component';

.service-item {
  z-index: 2;

  &.loading {
    .img {
      @include loading-component();
    }
  }
  .img {
    border-radius: 5px;
    border: solid 1px #f6f6f6!important;
  }

}
