$shadow: #3f3f3f;
@import '../../../themes/mixins/adaptive';
@import '../../../themes/mixins/icon';
@import '../../../themes/variables/color';
@import '../../../themes/variables/theme-color';

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;

  visibility: hidden;
  align-items: center;
  justify-content: center;

  z-index: 1000;

  background-color: #0f0f0f30;
  opacity: 0;

  transition: visibility 0.3s, opacity 0.5s ease-in-out;

  &.opening {
    visibility: visible;
    opacity: 1;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-height: 70%;
    width: 75%;
    max-width: 38rem;

    border-radius: 1rem;

    background-color: #F1F1F1;
  }
}
