.shop-banner-container {
  width: 1184px !important;
  max-width: 1184px !important;
  margin-left: auto;
  margin-right: auto;
  font-family: SFProText;
  font-size: 15px;
  color: #172b4d;

  .shop-banner-inner {
    .main-banner {
      .shop-banner-left {
        float: left;
        width: 228px;
        position: relative;
      }
      .shop-banner-right {
        float: right;
        width: -webkit-calc(100% - 231px);
        width: calc(100% - 231px);
        margin-left: 3px;
      }
      .shop-banner-right-right {
        float: right;
        width: -webkit-calc(100% - 725px);
        width: calc(100% - 725px);
        margin-left: 3px;
        height: 302px;
        &:hover {
          cursor: pointer;
        }
      }
      .shop-banner-right-left {
        float: left;
        width: 722px;
        height: 302px;
        .item {
          width: 100%;
          height: 302px;
          a {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        #js-ad-banner-12 {
          padding: 0 !important;
          .swiper-slide {
            width: 100% !important;
            .ad-banner-img-default {
              border-radius: 0 !important;
              height: 303px !important;
              img {
                border: none !important;
              }
            }
          }
          .swiper-pagination {
            .swiper-pagination-bullet-active {
              background-color: #fff !important;
            }
          }
        }
      }
      .shop-content-bestSale-main {
        .swiper-slide {
          border-top: 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;
          border-right: 1px solid #f5f5f5;
        }
      }
      .shop-content-flash-sale-main {
        .swiper-slide {
          border-top: 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;
          border-right: 1px solid #f5f5f5;
        }
      }
      .shop-content-newProduct-main {
        .swiper-slide {
          border-top: 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;
          border-right: 1px solid #f5f5f5;
        }
      }
      .shop-content-product-bonus-main {
        .swiper-slide {
          border-top: 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;
          border-right: 1px solid #f5f5f5;
        }
      }

      .shop-banner-container-left {

      }

      #shop_menu {

      }
    }
  }
}
