.ad-banner-wrapper {
  position: relative;
  margin-bottom: 8px;
  background-color: white;
}

.ad-banner-wrapper img {
  border: solid 1px #eee;
  width: 100%;
  height: 100%;
}

.ad-banner-text .bibabo {
  color: #172b4d;
  font-size: 14px;
  font-weight: bold;
}

.ad-banner-text .bibabo1 {
  color: #6b778c;
  font-size: 12px;
  margin-top: 4px;
}

.ad-banner-text {
  float: left;
  margin: 12px 0;
}

.ad-banner-header {
  height: 64px;
  border-bottom: 1px solid #ebecf0;
}

.ad-banner-club {
  border: none;
}

.ad-banner-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 12px;
  float: left;
}

.ad-banner-img img {
  border: none;
}

.ad-banner-bnt {
  width: 50px;
  height: 32px;
  border-radius: 8px;
  background-color: #ff6699;
  border: none;
  font-family: 'SFProText', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 32px;
  color: white;
}

.ad-banner-desc_short {
  font-weight: 600;
  overflow: hidden;
  height: 18px;
}

.ad-banner-bottom {
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 8px;

}

.ad-banner-bottom {
  margin-top: 16px;
}


.ad-banner-desc-long {
  float: left;
  color: #172b4d;
}

.ad-banner-bnt {
  float: right;
}

/*.ad-banner-img-one {
height: 196px;
}*/

.ad-banner-intro {
  margin: 10px 12px 6px 12px;
  font-size: 14px;
}

.ad-banner-content {
  width: calc(100% - 50px - 36px);
  font-family: 'SFProText', 'Arial', sans-serif;
  font-size: 13px;
  float: left;
  color: #172b4d;
  overflow: hidden;
}

.ad-banner-content {
  height: 50px;
}


#js-ad-banner-12 {
  padding: 10px;
}

#js-ad-banner-12 .swiper-slide {
  width: 95%;
}

.number-slide-active {
  position: absolute;
  bottom: 9px;
  right: 8px;
  width: 32px;
  height: 17px;
  border-radius: 8.5px;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
}

.swiper-slide.swiper-slide-ads {
  box-shadow: 0 2px 4px 0 rgba(23, 43, 77, 0.05);
  border: solid 1px rgb(235, 236, 240);
  border-radius: 8px;
}


.ad-banner-img-default {
  overflow: hidden;
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 225px;
}

.ad-banner-img-default.img-banner-shop {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px
}

.swiper-slide-button {
  background-size: 8.5px 15px;
  background-color: #6b778c;
  width: 31px;
  height: 63px;
  opacity: 0.3;
}

.swiper-slide-button:hover {
  background-color: #DFE1E6;
  opacity: 1;
}

.swiper-button-next {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-image: url("https://bibabo.vn/assets/wap/images/feed/swiper-next.svg");
  right: 0;
}

.swiper-button-prev {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url("https://bibabo.vn/assets/wap/images/feed/swiper_pre.svg");
  left: 0;
}

.shop-banner__dropdown-new-submenu {
  height: 50px;
  line-height: 50px;
}

.shop-banner__dropdown-submenu-img {
  width: 26px;
  height: 26px;
}

.shop-banner__dropdown-submenu .shop-dropdown-menu {
  line-height: 34px !important;
}

.main-banner {
  -webkit-box-shadow: 0 2px 2px 0 rgba(26,26,26,.06);
  box-shadow: 0 2px 2px 0 rgba(26,26,26,.06);
}
