.faq-item {
  .faq-item-wrapper {
    border: 2px solid #111;
    margin-bottom: 15px;
    border-radius: 3px;

    .faq-item-title {
      display: block;
      padding: 15px;
      color: #111;
      position: relative;

      cursor: pointer;

      .icon {
        position: absolute;
        top: 17px;
        right: 15px;

        -webkit-transition: -webkit-transform .5s ease-in-out;
        -ms-transition: -ms-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;

        &.open {
          transform:rotate(180deg);
          -ms-transform:rotate(180deg);
          -webkit-transform:rotate(180deg);
        }
      }
    }

    .content-wrapper {
      position: relative;
      max-height: 30rem;
      overflow: hidden;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-duration: .6s;
      -o-transition-duration: .6s;
      transition-duration: .6s;
      -webkit-transition-property: max-height,visibility;
      -o-transition-property: max-height,visibility;
      transition-property: max-height,visibility;

      .content {
        padding: 15px;
      }
    }

    .collapse {
      max-height: 0;

      -webkit-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-transition-duration: .4s;
      -o-transition-duration: .4s;
      transition-duration: .4s;
      -webkit-transition-property: max-height,visibility;
      -o-transition-property: max-height,visibility;
      transition-property: max-height,visibility;
    }
  }
}
