@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/source/open-sans-v16-latin-300.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'), url('/fonts/source/open-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), url('/fonts/source/open-sans-v16-latin-300.woff2') format('woff2'), url('/fonts/source/open-sans-v16-latin-300.woff') format('woff'), url('/fonts/source/open-sans-v16-latin-300.ttf') format('truetype'), url('/fonts/source/open-sans-v16-latin-300.svg#OpenSans') format('svg')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/source/open-sans-v16-latin-regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/source/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/source/open-sans-v16-latin-regular.woff2') format('woff2'), url('/fonts/source/open-sans-v16-latin-regular.woff') format('woff'), url('/fonts/source/open-sans-v16-latin-regular.ttf') format('truetype'), url('/fonts/source/open-sans-v16-latin-regular.svg#OpenSans') format('svg')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/source/open-sans-v16-latin-600.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/fonts/source/open-sans-v16-latin-600.eot?#iefix') format('embedded-opentype'), url('/fonts/source/open-sans-v16-latin-600.woff2') format('woff2'), url('/fonts/source/open-sans-v16-latin-600.woff') format('woff'), url('/fonts/source/open-sans-v16-latin-600.ttf') format('truetype'), url('/fonts/source/open-sans-v16-latin-600.svg#OpenSans') format('svg')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/source/open-sans-v16-latin-700.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/source/open-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), url('/fonts/source/open-sans-v16-latin-700.woff2') format('woff2'), url('/fonts/source/open-sans-v16-latin-700.woff') format('woff'), url('/fonts/source/open-sans-v16-latin-700.ttf') format('truetype'), url('/fonts/source/open-sans-v16-latin-700.svg#OpenSans') format('svg')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/source/open-sans-v16-latin-800.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('/fonts/source/open-sans-v16-latin-800.eot?#iefix') format('embedded-opentype'), url('/fonts/source/open-sans-v16-latin-800.woff2') format('woff2'), url('/fonts/source/open-sans-v16-latin-800.woff') format('woff'), url('/fonts/source/open-sans-v16-latin-800.ttf') format('truetype'), url('/fonts/source/open-sans-v16-latin-800.svg#OpenSans') format('svg')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/source/roboto-v19-latin-300.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('/fonts/source/roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'), url('/fonts/source/roboto-v19-latin-300.woff2') format('woff2'), url('/fonts/source/roboto-v19-latin-300.woff') format('woff'), url('/fonts/source/roboto-v19-latin-300.ttf') format('truetype'), url('/fonts/source/roboto-v19-latin-300.svg#Roboto') format('svg')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/source/roboto-v19-latin-regular.eot');
    src: local('Roboto'), local('Roboto-Regular'), url('/fonts/source/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/source/roboto-v19-latin-regular.woff2') format('woff2'), url('/fonts/source/roboto-v19-latin-regular.woff') format('woff'), url('/fonts/source/roboto-v19-latin-regular.ttf') format('truetype'), url('/fonts/source/roboto-v19-latin-regular.svg#Roboto') format('svg')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/source/roboto-v19-latin-500.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/source/roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'), url('/fonts/source/roboto-v19-latin-500.woff2') format('woff2'), url('/fonts/source/roboto-v19-latin-500.woff') format('woff'), url('/fonts/source/roboto-v19-latin-500.ttf') format('truetype'), url('/fonts/source/roboto-v19-latin-500.svg#Roboto') format('svg')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/source/roboto-v19-latin-700.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/source/roboto-v19-latin-700.eot?#iefix') format('embedded-opentype'), url('/fonts/source/roboto-v19-latin-700.woff2') format('woff2'), url('/fonts/source/roboto-v19-latin-700.woff') format('woff'), url('/fonts/source/roboto-v19-latin-700.ttf') format('truetype'), url('/fonts/source/roboto-v19-latin-700.svg#Roboto') format('svg')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/source/roboto-v19-latin-900.eot');
    src: local('Roboto Black'), local('Roboto-Black'), url('/fonts/source/roboto-v19-latin-900.eot?#iefix') format('embedded-opentype'), url('/fonts/source/roboto-v19-latin-900.woff2') format('woff2'), url('/fonts/source/roboto-v19-latin-900.woff') format('woff'), url('/fonts/source/roboto-v19-latin-900.ttf') format('truetype'), url('/fonts/source/roboto-v19-latin-900.svg#Roboto') format('svg')
}
