.at-resp-share-element {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.at-resp-share-element:after,.at-resp-share-element:before {
  content: " ";
  display: table;
}

.at-resp-share-element.at-mobile .at4-share-count-container,.at-resp-share-element.at-mobile .at-label {
  display: none;
}

.at-resp-share-element .at-share-btn {
  display: inline-block;
  //*display: inline;
  *zoom: 1;
  margin: 0 2px 5px;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: 0;
  font-family: helvetica neue,helvetica,arial,sans-serif;
  background-color: transparent;
}

.at-resp-share-element .at-share-btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.at-resp-share-element .at-share-btn:focus,.at-resp-share-element .at-share-btn:hover {
  transform: translateY(-4px);
  color: #fff;
  text-decoration: none;
}

.at-resp-share-element .at-share-btn .at-icon-wrapper {
  float: left;
}

.at-resp-share-element .at-share-btn.at-share-btn.at-svc-compact:hover {
  transform: none;
}

.at-resp-share-element .at-share-btn .at-label {
  font-family: helvetica neue,helvetica,arial,sans-serif;
  font-size: 9pt;
  padding: 0 15px 0 0;
  margin: 0 0 0 5px;
  height: 20px;
  line-height: 20px;
  background: none;
}

.at-resp-share-element .at-icon,.at-resp-share-element .at-label {
  cursor: pointer;
}

.at-resp-share-element .at4-share-count-container {
  text-decoration: none;
  float: right;
  padding-right: 15px;
  font-size: 9pt;
}

.at-mobile .at-resp-share-element .at-label {
  display: none;
}

.at-resp-share-element.at-mobile .at-share-btn {
  margin-right: 5px;
}

.at-mobile .at-resp-share-element .at-share-btn {
  padding: 5px;
  margin-right: 5px;
}

.at-share-tbx-element {
  position: relative;
  margin: 0;
  color: #fff;
  font-size: 0;
}

.at-share-tbx-element, .at-share-tbx-element .at-share-btn {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  padding: 0;
  line-height: 0;
}

.at-share-tbx-element .at-share-btn {
  cursor: pointer;
  margin: 0 5px 5px 0;
  display: inline-block;
  overflow: hidden;
  border: 0;
  text-decoration: none;
  text-transform: none;
  background-color: transparent;
  color: inherit;
  transition: all .2s ease-in-out;
}

.at-share-tbx-element .at-share-btn:focus, .at-share-tbx-element .at-share-btn:hover {
  transform: translateY(-4px);
  outline-offset: -1px;
  color: inherit;
}

.at-share-tbx-element .at-share-btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.at-share-tbx-element .at-share-btn.at-share-btn.at-svc-compact:hover {
  transform: none;
}

.at-share-tbx-element .at-icon-wrapper {
  vertical-align: middle;
}

.at-share-tbx-element .at4-share-count, .at-share-tbx-element .at-label {
  margin: 0 7.5px 0 2.5px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  background: none;
  height: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.at-share-tbx-element.at-mobile .at4-share-count, .at-share-tbx-element.at-mobile .at-label {
  display: none;
}

.at-share-tbx-element .at_native_button {
  vertical-align: middle;
}

.at-share-tbx-element .addthis_counter.addthis_bubble_style {
  margin: 0 2px;
  vertical-align: middle;
  display: inline-block;
}

.at-share-tbx-element .fb_iframe_widget {
  display: block;
}

.at-share-tbx-element.at-share-tbx-native .at300b {
  vertical-align: middle;
}

.at-style-responsive .at-share-btn {
  padding: 5px;
}

.at-style-jumbo {
  display: table;
}

.at-style-jumbo .at4-spacer {
  height: 1px;
  display: block;
  visibility: hidden;
  opacity: 0;
}

.at-style-jumbo .at4-count-container {
  display: table-cell;
  text-align: center;
  min-width: 200px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.at-style-jumbo .at4-count {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.at-style-jumbo .at4-count-title {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  bottom: 2px;
}

.at-style-jumbo .at-share-btn-elements {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}

.at_flat_counter {
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: auto;
  margin: 0 5px;
  padding: 0 6px;
  left: -1px;
  background: #ebebeb;
  color: #32363b;
  transition: all .2s ease;
}

.at_flat_counter:after {
  top: 30%;
  left: -4px;
  content: "";
  position: absolute;
  border-width: 5px 8px 5px 0;
  border-style: solid;
  border-color: transparent #ebebeb transparent transparent;
  display: block;
  width: 0;
  height: 0;
  transform: translateY(360);
}

.at_flat_counter:hover {
  background: #e1e2e2;
}
