.share-button {
  .facebook-button {
    background-color: rgb(59, 89, 152) !important;
    border-radius: 2px;
  }

  .twitter-button {
    background-color: rgb(29, 161, 242) !important;
    border-radius: 2px;
  }

  .copy-link-button {
    background-color: rgb(23, 139, 244) !important;
    border-radius: 2px;
  }

  .email-button {
    background-color: rgb(132, 132, 132) !important;
    border-radius: 2px;
  }

  .button-label {
    font-size: 10.5px;
    line-height: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
  }

  .icon-wrapper {
    line-height: 20px;
    height: 20px;
    width: 20px;
  }
}
