@import '../variables/color';
@import '../variables/font';
@import '../mixins/text';

/* Overwrite style của lib datetime */
.SingleDatePicker {
  margin-right: 1.6rem;
  margin-bottom: 2.2rem;
  border-bottom: 0.1rem solid $grey-8;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem;

  &:last-child {
    margin-right: 0;
  }

  .SingleDatePickerInput {
    border: none;

    .DateInput {
      .DateInput_input {
        /* Hide the caret in input */
        @include caret-hidden($grey-2);
        
        cursor: pointer;
        border: none;
        padding: 0;
        
        font-family: $default-font;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }
}