@import '../mixins/adaptive';

/* Fix lỗi sticky */
.introjs-fixParent {
  position: initial !important;
}

/* Hotfix trong detail */
video,
.video {
  width: 100%;
  object-fit: cover;
}

audio {
  width: 100%;
  object-fit: cover;
}
