.base-select {
  display: flex;
  position: relative;

  select {
    width: 100%;
    background: transparent;
    border: 1px solid #E6E6E6;
    border-radius: 0;
    padding: 10px 40px 10px 16px;
    color: #BFBFBF;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .base-select-icon {
    display: inline-block;
    background-position: 0 -135px;
    background-size: 16px auto;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 12px;
    pointer-events: none
  }
}
