.product-select {
  padding: 20px 30px;
  border: 1px solid #ddd;
  position: relative;
}

.product-select.selected,
.product-select.selected:hover {
  border-color: #007aff;
}

.product-select.disabled,
.product-select.disabled:hover {
  border-color: #ddd;
  color: #ddd !important;
  cursor: not-allowed;
}

.product-select.disabled strong {
  color: #ddd !important;
}

.product-select.disabled .btn-default.disabled,
.product-select.disabled .btn-default.disabled:hover {
  background: #ddd !important;
  border-color: #ddd !important;
  color: #ccc !important;
}

.product-select.disabled:hover .triangle-top-right {
  border-color: transparent #dddddd transparent transparent;
}

.product-select.disabled:after {
  content: "Not available";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: -11px 0 0 -45px;
  background: #333;
  border-radius: 3px;
  font-size: 13px;
}

.product-select:hover {
  border-color: rgba(48, 148, 255, 1);
  cursor: pointer;
}

.product-select:hover .triangle-top-right {
  border-color: transparent rgba(48, 148, 255, 1) transparent transparent;
}

.product-select:hover .btn {
  background-color: rgba(48, 148, 255, 1);
  border-color: rgba(48, 148, 255, 1);
  color: #fff;
}

.product-select ul li .fa {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 4px;
  vertical-align: top;
}

.product-select ul li span {
  display: inline-block;
  max-width: 89%;
  margin-bottom: 20px;
}

.product-select .triangle-top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0;
  border-color: transparent #dddddd transparent transparent;
  color: #fff;
}

.product-select .triangle-top-right .fa {
  position: relative;
  top: 9px;
  left: 42px;
}

.product-select.selected .triangle-top-right {
  border-color: transparent #007aff transparent transparent;
}
