.shop-banner-dropdown-submenu {
  height: 38px;
  line-height: 38px;
  padding-left: 16px;
  -webkit-box-shadow: inset 0 -1px 0 0 #ebecf0, inset 1px 0 0 0 #ebecf0, inset -1px 0 0 0 #ebecf0;
  box-shadow: inset 0 -1px 0 0 #ebecf0, inset 1px 0 0 0 #ebecf0, inset -1px 0 0 0 #ebecf0;
  background-color: #fff;

  &.shop-banner-dropdown-new-submenu {
    height: 50px;
    line-height: 50px;
  }

  .shop-banner-dropdown-submenu-img {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -o-object-fit: contain;
      object-fit: contain
    }
  }

  a {
    color: #172b4d !important;
  }
  &:hover {
    -webkit-box-shadow: inset 0 -1px 0 0 #ebecf0, inset 2px 0 0 0 #009fe0, inset -1px 0 0 0 #ebecf0;
    box-shadow: inset 0 -1px 0 0 #ebecf0, inset 2px 0 0 0 #009fe0, inset -1px 0 0 0 #ebecf0;
    span {
      color: #009fe0;
    }
    >.shop-dropdown-menu {
      display: block;
    }
  }
  .shop-dropdown-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 100%;
    ul {
      height: 303px;
      overflow: hidden;
      li {
        padding: 0 16px;
        white-space: nowrap;
        a {
          &:hover {
            color: #009fe0 !important;
          }
        }
        a.active {
          color: #009fe0 !important;
        }
      }
    }
  }
}
