
.content-form-review {
    width: 100%;
    max-width: 38rem;
}

.content-form-review .content-review {
    margin-top: 1.6rem;
}

.content-form-review .input-num-star {
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-start;
}

.content-form-review .input-num-star .star-view-big-active {
    width: 100%;
}

.content-form-review .input-num-star .star-view-big-no-active {
    width: 0;
}

.content-form-review .input-field {
    margin-top: 1.2rem;
}

.content-form-review .star-view-big {
    display: inline-block;
    width: 35px;
    height: 35px;

    cursor: pointer;
    background: url('../../assets/image/star-gray.png') repeat-x;
    vertical-align: middle;
    background-size: contain;
    margin-top: -4px;
}

.content-form-review .user-info-review {
    display: flex;
    justify-content: space-between;
}

.content-form-review .user-info-review .input-field {
    padding: 0;
    width: 18rem;
}

.content-form-review .user-info-review .input-field:not(:first-of-type) {
    margin-left: auto;
}

.content-form-review .star-view-big span {
    display: block;
    height: 35px;
    background: url('../../assets/image/star-light.png') repeat-x;
    background-size: contain;
}

.content-form-review .content-review textarea {
    resize: vertical;
    height: 9rem;
}

.content-form-review .content-review textarea:focus {
    border-color: rgba(0,0,0,.54);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14);
    outline: none;
}

.action-form-review {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.action-form-review .button-create-review {
    margin-top: auto;
    margin-bottom: 8px;
}

.content-form-review .button-add-photo {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #fd4747;
    color: #000;
}

.content-form-review .button-add-photo .material-icons.left {
    color: #fd4747;
}

.content-form-review .button-add-photo span {
    color: #fd4747;
}

.content-form-review .button-add-photo .waves-ripple {
    background-color: #00000035;
}

.pic-show-image-item {
    display: inline-block;
    position: relative;
    width: 54px;
    height: 54px;
}

.pic-show-image-item:not(:first-of-type) {
    margin-left: 6px;
}

.pic-show-image-item img{
    width: 54px;
    height: 54px;
    border: 0.1rem solid rgba(116, 116, 116, 0.75);
}

.pic-show-image-item .button-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #0000007a;
}

.pic-show-image-item .button-close i {
    color: #fff;
    font-size: 20px;
}
