
/*left*/

#review-app {
    padding: 1.6rem;
}

.summary-review {
    display: flex;

    padding: 0 20px 10px;
}

#review-app .title {
    margin-bottom: 17px;
    text-align: left;
    font-family: Open Sans,Arial,Helvetica,sans-serif,SimSun,"宋体";
    font-size: 20px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0;
    line-height: 21px;
    padding: 20px 20px 0 0;
}

.ratting-category {
    display: flex;
    align-content: center;
}

.ratting-category:not(:first-of-type) {
    margin-top: 0.6rem;
}

.ratting-category .num-ratting {
    display: flex;
    align-items: center;
    text-align: left;
    width: auto;
    min-width: 65px;
    padding-right: 0;
    line-height: normal;
}

.ratting-category .value-ratting {
    width: 200px;
    margin: auto 6px;
    height: 3px;
    background-color: #E9E9E9;
}

.ratting-category .value-ratting .determinate {
    background-color: #FF4747;
    height: 3px;
}

.ratting-category .num-percent {
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* right*/
.rate-score {
    padding-left: 60px!important;
    margin-top: auto;
    margin-bottom: auto;
}

.rate-score .rate-score-number {
    display: inline-block;
    margin-right: 8px;
    margin-top: 2px;
    vertical-align: middle;
    text-align: left;
    font-size: 13px;
    color: #666;
    letter-spacing: 0;
    line-height: 18px;
}

.rate-score .rate-score-number b {
    font-size: 16px;
    color: #000;
    text-align: left;
    font-weight: 600;
}

.rate-score .star-view-big, .f-rate-info .star-view {
    display: inline-block;
    width: 100px;
    height: 20px;
    background: url('../../assets/image/star-gray.png') repeat-x;
    vertical-align: middle;
    background-size: contain;
    margin-top: -4px;
}

.rate-score .star-view-big span, .f-rate-info .star-view span {
    display: block;
    height: 20px;
    background: url('../../assets/image/star-light.png') repeat-x;
    background-size: contain;
}

/*filter review*/
.filter-wrap {
    padding: 0 20px;
}
.filter-wrap {
    background-color: #fafafa;
    margin-bottom: 1px;
    font-size: 13px;
    padding: 0 10px;
    line-height: 20px;
}

.select-filter-stars {
    width: 7rem;
}

.select-filter-stars li span, .select-sort-review li span {
    color: #000;
    white-space: nowrap;
}

.select-filter-stars input, .select-sort-review input {
    border: none!important;
}

.select-sort-review {
    width: 12rem;
}

.filter-review {
    display: flex;
    align-content: center;
}

.filter-option {
    margin-top: auto;
    margin-bottom: auto;
}

.filter-option.no-active {
    background: #fff!important;
    box-shadow: none;
    border: 1px solid #cccccc;
    color: #000;
}

.filter-actions {
    width: 100%;
    margin: auto 0.6rem;
}

.input-field {
    margin-top: auto;
    margin-bottom: auto;
}

/*List review*/
.feedback-list-wrap {
    padding: 0 20px;
    font-size: 13px;
    line-height: 18px;
}

.feedback-list-wrap dd {
    margin-left: 0
}

.feedback-item {
    position: relative;
    padding: 15px 0 10px;
    min-height: 100px;
    padding-left: 125px;
    border-bottom: 1px solid #E9E9E9
}

.fb-user-info {
    position: absolute;
    top: 13px;
    left: 0;
    width: 125px;
    padding-right: 5px;
    font-weight: 700
}


.fb-user-info .user-name a {
    color: #000
}

.fb-user-info .user-name a:hover {
    text-decoration: none;
    color: #FF4747
}

.feedback-list-wrap .css_flag {
    min-width: 16px;
    min-height: 16px
}

.feedback-list-wrap .user-country {
    padding-top: 10px;
    color: #999;
    height: 25px
}

.f-rate-info .star-view {
    margin-right: 10px
}

.f-rate-info em {
    color: #E62E04
}

.user-order-info {
    padding: 2px 0;
    color: #999
}

.user-order-info span {
    color: #999;
}

.user-order-info .gaga-order-tip {
    background-color: bisque
}

.f-content .r-time-new {
    color: #999;
    margin-left: 4px
}

.buyer-review {
    padding: 5px 0
}

.buyer-review::after {
    content: '';
    display: block;
    clear: both
}

.buyer-feedback {
    padding-right: 100px
}

.r-photo-list {
    display: inline-block
}

.r-photo-list li {
    width: 50px;
    height: 50px
}

.r-photo-list li img {
    height: 48px;
    max-width: 48px;
    margin: auto;
}

.r-photo-list li {
    position: relative;
    list-style: none;
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    cursor: pointer
}

.r-photo-list li.active, .r-photo-list li:hover {
    border-color: #f60
}

.r-photo-list li img {
    height: 48px;
    max-width: 48px;
    border-radius: 3px
}

.r-photo-list li:after {
    content: '';
    display: none;
    position: absolute;
    left: 15px;
    bottom: -13px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: transparent 6px dashed;
    border-top: 6px solid #f60
}

.r-photo-list li.active:after {
    display: block
}


/*pagination-review*/

.pagination-review {
    display: flex;
    justify-content: flex-end;
}

.button-edit-review {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
