@import '../../../themes/mixins/utils';

.service-item-vertical-wrapper {
  border: 1px solid #eee;
  padding-bottom: 30px;
  margin: -1px;
  background: #fff;

  .image {
    margin: 28% auto 10%;
    height: 180px;
    object-fit: contain;
  }

  @media (max-width: 520px) {
    .image {
      height: 9rem!important;
    }
  }

  .description {
    @include truncate(1);
    &:empty:before {
      content: "\200b";
    }
  }

  .hr {
    width: 50%;
    margin: 15px 25% 20px;
  }
}
