
.brdr-none {
  border: none
}

.brdr-1 {
  border: 1px solid
}

.brdr-top-1 {
  border-top-width: 1px;
  border-top-style: solid
}

.brdr-bottom-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid
}

.brdr-left-1 {
  border-left-width: 1px;
  border-left-style: solid
}

.brdr-right-1 {
  border-right-width: 1px;
  border-right-style: solid
}

.brdr-square {
  border-radius: 0
}

.brdr-circle {
  border-radius: 50%
}

.brdr-toplr10 {
  border-radius: 10px 10px 0 0
}

.brdr-cl-blue {
  border-color: #285F8A
}

.brdr-cl-indigo {
  border-color: #6610f2
}

.brdr-cl-purple {
  border-color: #6f42c1
}

.brdr-cl-pink {
  border-color: #e83e8c
}

.brdr-cl-red {
  border-color: #dc3545
}

.brdr-cl-orange {
  border-color: #fd7e14
}

.brdr-cl-yellow {
  border-color: #ffc107
}

.brdr-cl-green {
  border-color: #28a745
}

.brdr-cl-teal {
  border-color: #20c997
}

.brdr-cl-cyan {
  border-color: #3f79a6
}

.brdr-cl-white {
  border-color: #fff
}

.brdr-cl-whisper {
  border-color: #E6E6E6
}

.brdr-cl-gray-nobel {
  border-color: #999
}

.brdr-cl-gray {
  border-color: #666
}

.brdr-cl-gray-dark {
  border-color: #4D4D4D
}

.brdr-cl-gray-nero {
  border-color: #1A1A1A
}
