.cl-blue {
  color: #285F8A
}

.cl-indigo {
  color: #6610f2
}

.cl-purple {
  color: #6f42c1
}

.cl-pink {
  color: #e83e8c
}

.cl-red {
  color: #dc3545
}

.cl-orange {
  color: #fd7e14
}

.cl-yellow {
  color: #ffc107
}

.cl-green {
  color: #28a745
}

.cl-teal {
  color: #20c997
}

.cl-cyan {
  color: #3f79a6
}

.cl-white {
  color: #fff
}

.cl-whisper {
  color: #E6E6E6
}

.cl-gray-nobel {
  color: #999
}

.cl-gray {
  color: #666
}

.cl-gray-dark {
  color: #4D4D4D
}

.cl-gray-nero {
  color: #1A1A1A
}
