
.flex {
  display: flex
}

.flex-grow {
  flex: 1 0 auto
}

.flex-basis {
  flex: 0 0 auto
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-nowrap {
  flex-wrap: nowrap
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-center {
  justify-content: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-space-between {
  justify-content: space-between
}

.flow-column {
  flex-flow: column
}

.flow-wrap {
  flex-flow: wrap
}


.align-center {
  align-items: center
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end
}
