@import '../variables/font';
@import '../variables/theme-color';
@import '../mixins/utils';
@import '../mixins/adaptive';

/* Convert 1rem = 10px */
:root {
  font-size: 62.5%; /* 0.8x default size */
}

body {
  background-color: $background-color;

  &,
  a,
  b,
  strong,
  i,
  em,
  input,
  label,
  button,
  textarea,
  span,
  p,
  div,
  pre {
    ///* Điều kì diệu khiến font chữ trên Mac và Windows style nhìn giống nhau */
    //-webkit-font-smoothing: antialiased;
    ////font-feature-settings: "liga" off;
    ////font-variant-ligatures: none;
    //
    //color: $primary-text-color;
    //font-family: $default-font;
    //
    ///* Disable Standard Ligatures */
    //font-feature-settings: 'liga' 0;
    //
    //font-size: 1.4rem;
    //font-weight: 400;
    //
    ///* Content (font Lora để default) */
    //letter-spacing: -0.02rem;
  }

  /* Fix lỗi iframe bị lệch trên Safari */
  iframe {
    overflow: hidden;
    object-fit: contain !important;
    /* object-position: 50% 50%; */

    /* Chỉnh center - center sẽ làm lệch khung iframe trên safari */
    object-position: 0 0;
  }

  /* Prevent background color leak outs */
  img,
  button,
  div {
    @include background-bleed();
  }

  input,
  textarea {
    &::placeholder {
      color: $small-text-color;
    }
  }

  a {
    &,
    &:focus,
    &:visited,
    &:hover {
      cursor: pointer;
    }
  }

  /* Scrollbar luôn hiện để chuyển trang ko có scrollbar tránh bị giật */
  @include adapt-to('greater-medium') {
    overflow-y: scroll;
  }

  /* Fix cho mobile view:
    - Bị dư ra 1 khoảng trắng bên phải, và hiện scroll ngang
    - Scroll dọc của container bị trùng với scroll dọc của body
  */
  @include adapt-to('small') {
    /* 'Momentum' scrolling on mobile device */
    -webkit-overflow-scrolling: auto;

    height: 100%;

    letter-spacing: -0.01rem;

    /* Hide scrollbar */
    /* Note: Overflow hidden prevent position sticky work on Safari */
    &::-webkit-scrollbar {
      background: transparent; /* optional: just make scrollbar invisible */
      width: 0; /* remove scrollbar space */
    }

    &,
    button,
    a,
    i,
    input,
    div {
      /* Chống double tap để zoom trên mobile, làm delay khi click something */
      touch-action: manipulation;
    }
  }
}
