
.m0 {
  margin: 0px
}

.m5 {
  margin: 5px
}

.m10 {
  margin: 10px
}

.m16 {
  margin: 16px
}

.m40 {
  margin: 40px
}

.m5p {
  margin: 5%
}

.mx5 {
  margin-left: 5px;
  margin-right: 5px
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px
}

.mx10 {
  margin-left: 10px;
  margin-right: 10px
}

.mx16 {
  margin-left: 16px;
  margin-right: 16px
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px
}

.mx5p {
  margin-left: 5%;
  margin-right: 5%
}

.my0 {
  margin-top: 0px;
  margin-bottom: 0px
}

.my5 {
  margin-top: 5px;
  margin-bottom: 5px
}

.my6 {
  margin-top: 6px;
  margin-bottom: 6px
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px
}

.my12 {
  margin-top: 12px;
  margin-bottom: 12px
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px
}

.my16 {
  margin-top: 16px;
  margin-bottom: 16px
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px
}

.my24 {
  margin-top: 24px;
  margin-bottom: 24px
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px
}

.my100 {
  margin-top: 100px;
  margin-bottom: 100px
}

.my5p {
  margin-top: 5%;
  margin-bottom: 5%
}

.mt0 {
  margin-top: 0px
}

.mt5 {
  margin-top: 5px
}

.mt8 {
  margin-top: 8px
}

.mt10 {
  margin-top: 10px
}

.mt12 {
  margin-top: 12px
}

.mt15 {
  margin-top: 15px
}

.mt16 {
  margin-top: 16px
}

.mt20 {
  margin-top: 20px
}

.mt24 {
  margin-top: 24px
}

.mt25 {
  margin-top: 25px
}

.mt30 {
  margin-top: 30px
}

.mt32 {
  margin-top: 32px
}

.mt35 {
  margin-top: 35px
}

.mt40 {
  margin-top: 40px
}

.mt50 {
  margin-top: 50px
}

.mt55 {
  margin-top: 55px
}

.mt60 {
  margin-top: 60px
}

.mt64 {
  margin-top: 64px
}

.mt128 {
  margin-top: 128px
}

.mt5p {
  margin-top: 5%
}

.mb0 {
  margin-bottom: 0px
}

.mb2 {
  margin-bottom: 2px
}

.mb4 {
  margin-bottom: 4px
}

.mb5 {
  margin-bottom: 5px
}

.mb8 {
  margin-bottom: 8px
}

.mb10 {
  margin-bottom: 10px
}

.mb12 {
  margin-bottom: 12px
}

.mb15 {
  margin-bottom: 15px
}

.mb16 {
  margin-bottom: 16px
}

.mb20 {
  margin-bottom: 20px
}

.mb24 {
  margin-bottom: 24px
}

.mb25 {
  margin-bottom: 25px
}

.mb28 {
  margin-bottom: 28px
}

.mb30 {
  margin-bottom: 30px
}

.mb32 {
  margin-bottom: 32px
}

.mb35 {
  margin-bottom: 35px
}

.mb40 {
  margin-bottom: 40px
}

.mb45 {
  margin-bottom: 45px
}

.mb55 {
  margin-bottom: 55px
}

.mb60 {
  margin-bottom: 60px
}

.mb64 {
  margin-bottom: 64px
}

.mb80 {
  margin-bottom: 80px
}

.mb96 {
  margin-bottom: 96px
}

.mb100 {
  margin-bottom: 100px
}

.mb128 {
  margin-bottom: 128px
}

.mb200 {
  margin-bottom: 200px
}

.mb5p {
  margin-bottom: 5%
}

.ml-15 {
  margin-left: -15px
}

.ml-1 {
  margin-left: -1px
}

.ml0 {
  margin-left: 0px
}

.ml5 {
  margin-left: 5px
}

.ml8 {
  margin-left: 8px
}

.ml10 {
  margin-left: 10px
}

.ml12 {
  margin-left: 12px
}

.ml15 {
  margin-left: 15px
}

.ml16 {
  margin-left: 16px
}

.ml20 {
  margin-left: 20px
}

.ml24 {
  margin-left: 24px
}

.ml30 {
  margin-left: 30px
}

.ml40 {
  margin-left: 40px
}

.ml5p {
  margin-left: 5%
}

.mr0 {
  margin-right: 0px
}

.mr5 {
  margin-right: 5px
}

.mr8 {
  margin-right: 8px
}

.mr10 {
  margin-right: 10px
}

.mr15 {
  margin-right: 15px
}

.mr16 {
  margin-right: 16px
}

.mr20 {
  margin-right: 20px
}

.mr24 {
  margin-right: 24px
}

.mr35 {
  margin-right: 35px
}

.mr5p {
  margin-right: 5%
}
