/* Customized on Normalize.css v8.0.0 & reboot.scss (Boostrap 4.0) */
/*@import '../mixins/_compatibility.scss';*/

/* ====================== DOCUMENT ====================== */
  html {
    /* Setting @viewport causes scrollbars to overlap content in IE11 and Edge,
     * so we force a non-overlapping, non-auto-hiding scrollbar to counteract.
     */
    -ms-overflow-style: scrollbar;

    /* Change the default tap highlight to be completely transparent in iOS */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* Correct the line height in all browsers */
    line-height: calc(1 + 4 / 14);

    /* Prevent adjustments of font size after orientation changes in iOS */
    /*@include text-size-adjust(100%);*/

    /* Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border` */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    // Suppress the focus outline on elements that cannot be accessed via keyboard.
    // This prevents an unwanted focus outline from appearing around elements that
    // might still respond to pointer events.
    //
    // Credit: https://github.com/suitcss/base
    [tabindex='-1']:focus {
      outline: 0 !important;
    }
  }

/* ====================== SECTION ====================== */
  body {
    /* Remove the margin in all browsers */
    margin: 0;
  }

  /* Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  h1 {
    font-size: 2em;
  }

  /* Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers) */
  article,
  aside,
  dialog,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block;
  }

  /* ====================== GROUPING CONTENT ====================== */
  hr {
    /* Add the correct box sizing in Firefox */
    box-sizing: content-box;
    height: 0;

    /* Show the overflow in Edge and IE */
    overflow: visible;
  }

  pre {
    /* Correct the inheritance and scaling of font size in all browsers */
    font-family: monospace, monospace;

    /* Correct the odd `em` font sizing in all browsers */
    font-size: 1em;
  }

  /* ====================== TEXT-LEVEL SEMANTICS ====================== */
  a {
    /* Remove the gray background on active links in IE 10 */
    background-color: transparent;
  }

  abbr[title] {
    /* Add explicit cursor to indicate changed behavior */
    cursor: help;

    /* Remove the bottom border in Firefox 39- & Chrome 57- */
    border-bottom: 0;

    /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  /* Add the correct font weight in Chrome, Edge, and Safari */
  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    /* Correct the inheritance and scaling of font size in all browsers */
    font-family: monospace, monospace;

    /* Correct the odd `em` font sizing in all browsers */
    font-size: 1em;
  }

  /* Add the correct font size in all browsers */
  small {
    font-size: 80%;
  }

  /* Prevent `sub` and `sup` elements from affecting the line height
   * in all browsers
   */
  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }

/* ====================== EMBEDDED CONTENT ====================== */
  img {
    /* Remove the border on images inside links in IE 10 */
    border-style: none;
  }

  /* Hide the overflow in IE */
  svg {
    &:not(:root) {
      overflow: hidden;
    }
  }

  /* ====================== FORMS ====================== */
  button,
  input,
  optgroup,
  select,
  textarea {
    /* Remove the margin in Firefox and Safari */
    margin: 0;

    /* Change the font styles in all browsers */
    font-family: inherit;
    font-size: 100%;
  }

  /* Show the overflow in IE & Edge */
  button,
  input {
    overflow: visible;
  }

  /* Remove the inheritance of text transform in Edge, Firefox, and IE */
  button,
  select {
    text-transform: none;
  }

  /* Correct the inability to style clickable types in iOS and Safari */
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
  }

  /* Remove the inner border and padding in Firefox */
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /* Restore the focus styles unset by the previous rule */
  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    /* Remove the default appearance of temporal inputs to avoid a Mobile Safari
      bug where setting a custom line-height prevents text from being vertically
      centered within the input.
      See https://bugs.webkit.org/show_bug.cgi?id=139848
      and https://github.com/twbs/bootstrap/issues/11266 */
    -webkit-appearance: listbox;
  }

  fieldset {
    /* Reset the default outline behavior of fieldsets so they don't affect page layout */
    margin: 0;
    border: 0;
    padding: 0;

    /* Browsers set a default `min-width: min-content;` on fieldsets,
    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
    So we reset that to ensure fieldsets behave more like a standard block element.
    See https://github.com/twbs/bootstrap/issues/12359
    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements */
    min-width: 0;
  }

  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  legend {
    display: table; /* 1 */
    box-sizing: border-box; /* 1 */
    padding: 0; /* 3 */
    max-width: 100%; /* 1 */
    color: inherit; /* 2 */
    white-space: normal; /* 1 */
  }

  /* Add the correct vertical alignment in Chrome, Firefox, and Opera */
  progress {
    vertical-align: baseline;
  }

  /* Remove the default vertical scrollbar in IE 10+ */
  textarea {
    overflow: auto;

    /* Textareas should really only resize vertically so they don't break their (horizontal) containers. */
    resize: vertical;
  }

  [type='checkbox'],
  [type='radio'] {
    /* Add the correct box sizing in IE 10 */
    box-sizing: border-box;

    /* Remove the padding in IE 10 */
    padding: 0;
  }

  /* Correct the cursor style of increment and decrement buttons in Chrome */
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    height: auto;
  }

  [type='search'] {
    /* Correct the odd appearance in Chrome and Safari */
    -webkit-appearance: textfield;

    /* Correct the outline style in Safari */
    outline-offset: -2px;
  }

  /* Remove the inner padding in Chrome and Safari on macOS */
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    /* Correct the inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;

    /* Change font properties to `inherit` in Safari */
    font: inherit;
  }


/* ====================== INTERACTIVE ====================== */
  details {
    /* Add the correct display in Edge, IE 10+, and Firefox */
    display: block;
  }

  /* Add the correct display in all browsers */
  summary {
    display: list-item;
  }


/* ====================== MISC ====================== */
  template {
    /* Add the correct display in IE 10+ */
    display: none;
  }

  /* Add the correct display in IE 10 */
  [hidden] {
    display: none;
  }
