
.p0 {
  padding: 0px
}

.p5 {
  padding: 5px
}

.p6 {
  padding: 6px
}

.p10 {
  padding: 10px
}

.p12 {
  padding: 12px
}

.p15 {
  padding: 15px
}

.p20 {
  padding: 20px
}

.p25 {
  padding: 25px
}

.p45 {
  padding: 45px
}

.p50 {
  padding: 50px
}

.px0 {
  padding-left: 0px;
  padding-right: 0px
}

.px2 {
  padding-left: 2px;
  padding-right: 2px
}

.px5 {
  padding-left: 5px;
  padding-right: 5px
}

.px6 {
  padding-left: 6px;
  padding-right: 6px
}

.px10 {
  padding-left: 10px;
  padding-right: 10px
}

.px12 {
  padding-left: 12px;
  padding-right: 12px
}

.px15 {
  padding-left: 15px;
  padding-right: 15px
}

.px16 {
  padding-left: 16px;
  padding-right: 16px
}

.px20 {
  padding-left: 20px;
  padding-right: 20px
}

.px25 {
  padding-left: 25px;
  padding-right: 25px
}

.px30 {
  padding-left: 30px;
  padding-right: 30px
}

.px35 {
  padding-left: 35px;
  padding-right: 35px
}

.px40 {
  padding-left: 40px;
  padding-right: 40px
}

.px55 {
  padding-left: 55px;
  padding-right: 55px
}

.px65 {
  padding-left: 65px;
  padding-right: 65px
}

.px70 {
  padding-left: 70px;
  padding-right: 70px
}

.px10p {
  padding-left: 10%;
  padding-right: 10%
}

.py0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py5 {
  padding-top: 5px;
  padding-bottom: 5px
}

.py6 {
  padding-top: 6px;
  padding-bottom: 6px
}

.py10 {
  padding-top: 10px;
  padding-bottom: 10px
}

.py12 {
  padding-top: 12px;
  padding-bottom: 12px
}

.py16 {
  padding-top: 16px;
  padding-bottom: 16px
}

.py20 {
  padding-top: 20px;
  padding-bottom: 20px
}

.py24 {
  padding-top: 24px;
  padding-bottom: 24px
}

.py25 {
  padding-top: 25px;
  padding-bottom: 25px
}

.py30 {
  padding-top: 30px;
  padding-bottom: 30px
}

.py35 {
  padding-top: 35px;
  padding-bottom: 35px
}

.py40 {
  padding-top: 40px;
  padding-bottom: 40px
}

.py50 {
  padding-top: 50px;
  padding-bottom: 50px
}

.py65 {
  padding-top: 65px;
  padding-bottom: 65px
}

.py100 {
  padding-top: 100px;
  padding-bottom: 100px
}

.pt0 {
  padding-top: 0px
}

.pt5 {
  padding-top: 5px
}

.pt6 {
  padding-top: 6px
}

.pt10 {
  padding-top: 10px
}

.pt15 {
  padding-top: 15px
}

.pt20 {
  padding-top: 20px
}

.pt24 {
  padding-top: 24px
}

.pt25 {
  padding-top: 25px
}

.pt30 {
  padding-top: 30px
}

.pt32 {
  padding-top: 32px
}

.pt35 {
  padding-top: 35px
}

.pt40 {
  padding-top: 40px
}

.pt45 {
  padding-top: 45px
}

.pt50 {
  padding-top: 50px
}

.pt55 {
  padding-top: 55px
}

.pt70 {
  padding-top: 70px
}

.pb6 {
  padding-bottom: 6px
}

.pb10 {
  padding-bottom: 10px
}

.pb15 {
  padding-bottom: 15px
}

.pb16 {
  padding-bottom: 16px
}

.pb20 {
  padding-bottom: 20px
}

.pb24 {
  padding-bottom: 24px
}

.pb30 {
  padding-bottom: 30px
}

.pb35 {
  padding-bottom: 35px
}

.pb40 {
  padding-bottom: 40px
}

.pb45 {
  padding-bottom: 45px
}

.pb50 {
  padding-bottom: 50px
}

.pb60 {
  padding-bottom: 60px
}

.pb70 {
  padding-bottom: 70px
}

.pb120 {
  padding-bottom: 120px
}

.pr0 {
  padding-right: 0px
}

.pr5 {
  padding-right: 5px
}

.pr6 {
  padding-right: 6px
}

.pr16 {
  padding-right: 16px
}

.pr20 {
  padding-right: 20px
}

.pr30 {
  padding-right: 30px
}

.pr40 {
  padding-right: 40px
}

.pr42 {
  padding-right: 42px
}

.pr55 {
  padding-right: 55px
}

.pr70 {
  padding-right: 70px
}

.pl0 {
  padding-left: 0px
}

.pl6 {
  padding-left: 6px
}

.pl12 {
  padding-left: 12px
}

.pl16 {
  padding-left: 16px
}

.pl20 {
  padding-left: 20px
}

.pl30 {
  padding-left: 30px
}

.pl35 {
  padding-left: 35px
}

.pl40 {
  padding-left: 40px
}

.pl64 {
  padding-left: 64px
}

.pl70 {
  padding-left: 70px
}
