@import './normalize';
@import '../mixins/_adaptive.scss';

html {
  /* Đồng nhất text color của placeholder trên các browser */
  *::placeholder {
    opacity: 1;
  }
}

body {
  iframe {
    /* Remove space for descenders in the line of text when display inline */
    display: block;

    border: none;
  }

  textarea {
    outline: none;
    border: none;
    resize: none;
  }

  video,
  audio {
    outline: none;
  }

  p,
  input,
  pre {
    margin: 0;
  }

  pre {
    white-space: normal;
  }

  input,
  button {
    border: none;

    /* Remove rounded corners & box-shadow on input elements in Mobile WebKit */
    @include adapt-to('small') {
      -webkit-border-radius: 0;
      -webkit-box-shadow: none;

      /* Remove all platform-native styling based on OS theme */
      -webkit-appearance: none;
      -moz-appearance: none;

      /* Remove default padding */
      padding: 0;
    }

    /* Remove the border highlight on an element */
    &:focus {
      outline: none;
    }
  }

  button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
  }

  input {
    &:disabled {
      background-color: transparent;
    }
  }
}
