.dropdown {
  @import '../../../themes/variables/color';
  @import '../../../themes/variables/theme-color';

  position: absolute;
  z-index: 1;
  opacity: 0;
  pointer-events: none;

  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;
  background-color: $background-dropdown-color;

  transform: translate3d(0, -12px, 0);

  &.active {
    opacity: 1;
    pointer-events: initial;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0.2, 0.06, 0.05, 0.95);
  }

  .selection {

  }
}
