.blog-item {
  @import '../../themes/mixins/utils';

  .read-more-button {
    display: block;
    text-indent: -9999px;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 180px;
    cursor: pointer;
  }

  .label-info {
    background-color: rgb(0, 122, 255);
  }

  .author-title {
    margin-bottom: 15px;
    small {
      font-size: 0.75em;
    }
  }

  .content-blog {
    font-family: arial, helvetica, sans-serif;
    @include truncate(3);
  }
}
