@import '../../../themes/variables/_icon';

$size-default: 32px;

@mixin genIcon ($background, $size, $backgroundSize) {
  background: $background;
  display: inline-block;
  width: $size;
  height: $size;
  background-size: $backgroundSize;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.icon {
  margin: auto;
  $this: &;

  @each $index, $name in $sprites-icon-16-variables {
    &:global(.#{$name}) {
      @include genIcon(url($sprites-icon-16) no-repeat 0 -#{$index*34px}, 16px, 16px auto);
    }
  }

  @each $index, $name in $sprites-icon-24-variables {
    &:global(.#{$name}) {
      @include genIcon(url($sprites-icon-24) no-repeat 0 -#{$index*34px}, 24px, 24px auto);
    }
  }

  @each $index, $name in $sprites-icon-32-variables {
    &:global(.#{$name}) {
      @include genIcon(url($sprites-icon-32) no-repeat -#{$index*48px} 0, 32px, auto 32px);
    }
  }
}
