.imei-check {
  :global {
    #IMEICheckHero {
      background-color: #f8f8f8;
      position: relative;
      background-image: url(/media/images/IMEICheckHero.jpg);
      background-repeat: no-repeat;
    }

    #IMEICheckHero .arrow {
      bottom: 40px !important;
    }

    #IMEIContent {
      background-color: #f8f8f8;
    }

    #IMEIContent .row:nth-child(1) {
      background-image: url(/media/images/network-check.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right top;
    }

    #IMEIContent .row:nth-child(2) {
      background-image: url(/media/images/icloud-activation-check.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
    }

    #IMEIContent .row:nth-child(3) {
      background-image: url(/media/images/blacklisted-check.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right top;
    }

    @media (min-width: 320px) {
      #IMEICheckHero {
        background-size: contain;
        background-position: center top 0;
        padding: 160px 0 0;
      }
      #IMEIServices .btn-primary {
        margin-bottom: 45px;
      }
      #IMEIContent {
        padding: 0;
      }
      #IMEIContent .row:nth-child(1),
      #IMEIContent .row:nth-child(2),
      #IMEIContent .row:nth-child(3) {
        padding-top: 90vw;
        padding-bottom: 40px;

        strong {
          ~ p {
            margin-left: 1.5rem;
          }
        }
      }
    }

    @media (min-width: 992px) {
      #IMEICheckHero {
        background-size: cover;
        background-position: center bottom;
        padding: 150px 0 150px;
      }
      #IMEIServices .btn-primary {
        margin-bottom: 0;
      }
      #IMEIContent {
        padding-top: 40px;
      }
      #IMEIContent .row:nth-child(1),
      #IMEIContent .row:nth-child(2),
      #IMEIContent .row:nth-child(3) {
        padding-top: 100px;
        padding-bottom: 80px;
      }
    }
  }
}
