@import '../../../themes/specific/loading-component';

.sticky-image {
  width: 100%;
  height: 100%;

  position: relative;
}

.loading-image-lazy {
  .loader-balls {
    background-color: #f2f3f4;
  }
}

.loading-small-lazy {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include loading-component();
}

.loading-image {
  padding-top: 100%;
}

.image {
  @import '../../../themes/mixins/media';

  @include media-object-fit;

  &:not([class*=' obj-']) {
    object-fit: cover;
  }

  &.uploading {
    opacity: 0.5;
  }

  &.loading {
    transition: 0.5s filter linear;
    filter: blur(1rem);
  }
}
