@import '../mixins/line';

/* Đường kẻ thẳng */
.border-line {
  $positions: 'top', 'bottom', 'left', 'right';
  $padding-size: 1.6rem;
  $border-size: 0.2rem;
  
  @each $pos in $positions {
    &-#{$pos} {
      @include straight-line($pos, $padding-size, $border-size );
    }
  }
}
