@import '../variables/color';
@import '../mixins/text';
@import '../variables/theme-color';

/* Fake placeholder cho những tag không hỗ trợ thuộc tính placeholder */
.placeholder {
  @include word-wrap();

  &,
  &:focus {
    outline: none;
  }

  &[placeholder]:empty {
    &:before {
      color: $small-text-color;
      content: attr(placeholder);
    }
  }
}
