.list-blog {
  padding: 0 0 80px;

  .read-more-button {
    display: block;
    text-indent: -9999px;
    width: 100%;
    background-image: url(/media/images/read-more-blog.jpg);
    background-size: cover;
    background-position: center;
    height: 180px;
    cursor: pointer;
  }

  .label-info {
    background-color: rgb(0, 122, 255);
  }

  .author-title {
    margin-bottom: 15px;
    small {
      font-size: 0.75em;
    }

    .title-blog {
      font-family: arial, helvetica, sans-serif;
    }
  }
}
