@import '../../../../themes/variables/color';

.menu-mobile-popup {
  align-items: flex-end;

  .content {
    width: 80%;

    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;

    background-color: transparent;

    &.opening {
      transform: translateY(0);
    }

    .menu-mobile-content {
      margin-bottom: 2rem;
    }

    .dialog-content {
      width: 100%;
      min-height: 4rem;

      background-color: #F1F1F1;

      border-radius: 1rem;

      margin-bottom: 0.7rem;

      .item {
        height: 4.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.6rem;

        &.title {
          height: 3rem;
          opacity: 0.75;
          font-size: 1.3rem;
        }

        &:not(:first-of-type) {
          border-top: solid 0.1rem rgba(170, 170, 170, 0.3);
        }

        &:first-of-type:active {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:last-of-type:active {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        &:active {
          background: #aaaaaa9e;
        }
      }
    }

    .dialog-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 1rem;
      background-color: $white;

      .cancel {
        font-weight: 500;

        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.6rem;
      }

      &:active {
        background-color: $grey-8;
      }
    }
  }
}
