@import '../../../../themes/mixins/adaptive';

footer {
  padding: 15px 0 0;
  float: left;
  clear: both;
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 0;

  .footer-copy {
    p {
      margin: 0 0 10px;
      color: #888;
      text-align: center;
      font-weight: 500;

      &:last-child {
        margin: 0 0 30px;
      }
    }

    .payment-methods{
      width: 80%;
      margin: 0 auto 30px;
      display: block;
      float: none;

      li {
        width: 25%;
        padding: 0;
        float: left;
        position: relative;
        overflow: visible;

        img {
          padding: 0 8px;
        }
      }
    }
  }

  .list-unstyled {
    .list-title {
      font-weight: 700;
      font-size: 1.2rem;
      color: #555;
      margin-top: 15px;
      margin-bottom: 8px!important;
    }

    a {
      color: #555;
      display: block;
      position: relative;

      &:hover {
        color: #111;
        text-decoration: none;
      }
    }
  }

  .footer-end {
    text-align: center;

    p {
      line-height: 50px;

      margin: 0;
      color: #555;
      font-size: 13px;
    }

    .list-inline {
      margin: 5px 0 15px;

      a {
        color: #555;
        height: 18px;
        line-height: 18px;

        &:hover {
          color: #111;
          text-decoration: none;
        }
      }
    }
  }

  hr {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include adapt-to('small') {
    .container .row .col-md-8 ul.list-unstyled>li {
      margin-bottom: 3px!important;
    }
  }

  @include adapt-to('greater-medium') {
    padding: 30px 0 0;

    .footer-copy {
      margin-top: 30px;

      p {
        small {
          font-size: 85%;
        }
      }

      .payment-methods {
        width: 33%;
      }
    }

    .footer-end {
      text-align: left;

      p {
        line-height: 58px;
      }

      .list-inline {
        margin: 20px 0;
      }
    }

    .col-md-8 {
      .list-unstyled {
        .list-title {
          font-weight: 700;
          font-size: 1.2rem;
          margin-top: 15px;
          margin-bottom: 8px!important;
          line-height: 100%;
          text-transform: uppercase;
          cursor: auto;
        }
      }
    }
  }
}
