@import '../../../../themes/variables/color';

.screen-effect-mobile {
  .screen-mobile-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0 0 0 0 #3f3f3fd1;

    transition: transform 0.5s ease-in-out;

    &.opening {
      + .screen-effect-mobile-overlay {
        display: block;
        pointer-events: auto;
        opacity: 0.3;
      }
    }

    &.top_to_bottom {
      transform: translateY(-100vh);

      &.opening {
        transform: translateY(0);
        box-shadow: 0 -4px 12px 6px #3f3f3fd1;
      }
    }

    &.bottom_to_top {
      transform: translateY(calc(100vh + 1rem));

      &.opening {
        transform: translateY(0);
        box-shadow: 0 4px 12px 6px #3f3f3fd1;
      }
    }

    &.left_to_right {
      transform: translateX(-100vw);

      &.opening {
        transform: translateX(0);
        box-shadow: 4px 0 12px 6px #3f3f3fd1;
      }
    }

    &.right_to_left {
      transform: translateX(100vw);

      &.opening {
        transform: translateX(0);
        box-shadow: -4px 0 12px 6px #3f3f3fd1;
      }
    }

    &>.e-scrollview {
      width: 100%;
      height: 100% !important;
      max-height: 100% !important;
    }
  }

  .screen-effect-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 998;
    background-color: #0f0f0f;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
}
