.react-image-gallery {
  .image-gallery-image {
    max-height: initial !important;
  }
  .image-gallery-thumbnails {
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;

    .image-gallery-thumbnails-container {
      .image-gallery-thumbnail {
        width: calc((100% - 96px) / 5);
        opacity: 0.6;
        &.active {
          opacity: 1;
          border: none;
        }

        &:hover {
          border: none
        }
      }
    }
  }

  .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    width: 3rem;
  }
}
