.list-video-review {
  padding-top: 2vh;
  float: left;
  width: 100%;
  z-index: 2!important;
  clear: both;

  .list-service {
    display: flex;
    align-items: center;

    overflow-x: auto;

    &::before, &::after {
      content: '';  /* Insert pseudo-element */
      margin: auto; /* Make it push flex items to the center */
    }
  }

  .title {
  }

  :global {
    .row {
      z-index: 2!important;
    }

    .col-xs-12 {
      width: 100%;
      min-width: 100%;
    }

    @media (min-width: 768px) {
      .col-sm-6 {
        width: 50%;
        min-width: 50%;
      }
    }

    @media (min-width: 992px) {
      .col-md-3 {
        width: 25%;
        min-width: 25%;
      }
    }


    .container {
      z-index: 2!important;
    }
  }
}
