@import '../../../../themes/variables/theme-color';
@import '../../../../themes/mixins/icon';

.sidebar-menu-wrap {
  background-color: rgba(0,0,0,1);
  position: fixed;
  top: 44px;
  width: 100%;
  height: 0;
  transition: height 0.5s;
  z-index: 9;

  padding-right: 15px;
  padding-left: 15px;

  &.is-open {
    height: 100vh;
  }

  .sidebar-header {
    padding: 0 0 12px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.2);
  }
  .sidebar-menu {
    margin: 8vh 10%;
    width: 80%;

    .btn-close-wrap {
      button {
        padding: 5px 12px 5px 0;
      }
      img {
        opacity: .45;
      }
    }
  }

  .sidebar-menu-search-group {
    position: relative;

    input {
      border: 1px solid #E6E6E6;
      font-size: 12px;
      padding-left: 16px;
      min-height: 40px;
    }

    .search-icon {
      background-position: 0 -443px;
      background-size: 32px auto;
      display: inline-block;
      position: absolute;
      opacity: .5;
      right: 12px;
      width: 32px;
      height: 32px;
    }
  }
}

.cat-title-wrap {
  max-height: calc(100vh - 125px);
  overflow: auto;

  .mobile-nav {
    overflow-x: hidden;
  }

  .mobile-nav-item {
    position: relative;
    display: block;
    margin-bottom: 0;
    list-style: none;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(255,255,255,.25);
    }

    a {
      cursor: pointer;
      background: none;
      border: none;
      display: inline-block;
      color: #fefefe;
      padding: 13px 0 15px;
      font-weight: 600;
      text-decoration: none;
      font-size: 1.7rem;
      letter-spacing: 2px;
      &:hover {
        color: #fff;
      }
    }
  }

  .mobile-nav-has-sublist {
    display: table;
    width: 100%;
    .mobile-nav-link {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }
  .mobile-nav-toggle-btn {
    &:focus {
      outline: none;
    }
  }
}
