@charset "UTF-8";

@import '../mixins/font';

/* root */
$root-folder: '/';

// Font variables
$default-font: 'Open Sans' !default;

/* $title-font: 'TTNorms' !default; */
$title-font: 'Roboto' !default;

/* $content-font: 'Lora' !default; */
$content-font: 'Open Sans' !default;

@include import-fonts($root-folder, $default-font, [300, 400, 500, 600, 700]);
@include import-fonts($root-folder, $title-font, [300, 400, 500, 600, 700]);

/* TTNorms */
/* @include import-fonts($root-folder, $title-font, [700, 500]); */

/* Lora */
/* @include import-fonts($root-folder, $content-font, [700, 400]); */
