.stretch-xs {
  width: 100%;
}

.control-label {
  margin-bottom: 10px;
}

.form-control {
  font-size: 0.95em;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23222222'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 10px;
  background-position: calc(100% - 12px) 15px;
  background-repeat: no-repeat;
  background-color: #fff;
}

.input-group-addon:last-child {
  border-left: 1px solid #c5c5c5;
  background-color: #f1f1f1 !important;
}

.icon-lg {
  border: 2px solid #808080;
  color: #808080;
  width: 64px;
  height: 64px;
  margin: 0 auto 30px;
  border-radius: 5px;
  display: block;
}

.icon-lg .fa {
  font-size: 2.4em;
  position: relative;
  top: 13px;
}

#request .field-validation-error, .field-validation-error {
  text-indent: 0;
  height: unset;
  margin-top: 3px;
}

.field-validation-error:before,
.field-validation-error:after {
  display: none;
}

@media (min-width: 320px) {
  .margin-right {
    margin-right: 0;
  }

  .margin-left {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .margin-right {
    margin-right: 7.5px;
  }

  .margin-left {
    margin-left: 7.5px;
  }
}
