.form-input-order {
  &.open-form-input-order {
    @media (max-width: 992px) {
      .phone-ui {
        top: 0
      }
    }
  }

  .select__control {
    padding: 9px 11px;
    border: none!important;
    box-shadow: none!important;
    background: transparent!important;
  }
}
