.list-blog-right {
  .input-search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button-search {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    line-height: 34px;
    height: 34px;
  }

  .suggest-box {
    border-radius: 3px;
    padding: 40px 40px 40vh;
    background-repeat: no-repeat;
    background-color: #111;
    background-image: url(/media/images/unbeatable-times.jpg);
    background-size: 120%;
    background-position: center bottom;
  }
}
