@import '../../themes/mixins/adaptive';
@import '../../themes/specific/loading-component';

.product-wrap {
  transition: box-shadow .3s ease-in-out;

  &.loading {
    .collection-image-container {
      background-color: #f2f3f4;
      padding: 40% 0;
    }

    .title {
      width: 65%;
      height: 2.2rem;

      margin: auto;

      @include loading-component();
    }

    .price {
      width: 40%;
      height: 2rem;

      margin: 1.2rem auto auto;

      @include loading-component();
    }
  }

  .button-add-cart-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s linear;
  }

  .button-add-cart {
    font-size: 16px!important;
    font-weight: 400;

    position: relative;
    margin-top: 8px;
    padding: 9px 0!important;
    text-align: center;
    width: 100%;
  }

  &.hover-show-add-cart {
    &:hover {
      box-shadow: 0 6px 10px 0 rgba(42,48,56,0.11) !important;

      .button-add-cart-wrapper {
        max-height: 100px;
      }

      a:hover {
        color: #5BBF29;
      }
    }
  }

  &.show-add-cart {
    .button-add-cart-wrapper {
      max-height: 100px;
    }
  }

  .collection-image-container {
    position: relative;
    :global {
      .loading-image {
        background-color: #f2f3f4;
      }
    }

    .sb-lazy {
      &:not(.progressive)[lazy=loading] {
        background-color: #f2f3f4;
      }
      &:not([src]) {
        &:before {
          background-color: #f2f3f4;
        }
      }
    }
    &:hover {
      &:not(.hover-secondary)[lazy=loaded] {
        ~ {
          .loader-balls {
            display: none;
          }
        }
      }
      &:not(.hover-secondary)[lazy=error] {
        + {
          .loader-balls {
            display: none;
          }
        }
      }
    }
    &:before {
      content: '';
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all .2s ease-in;
      z-index: 1;
    }
    &:not(.adjust-height) {
      img {
        width: 100%;
        &:before {
          background-color: #f2f3f4;
        }
      }
    }
  }

  .price {
    .money {
      font-size: 1.143em;
    }
    .sale-price {
      color: #5BBF29;
      font-weight: 700;
    }
    .was-price {
      color: #999;
      text-decoration: line-through;
      font-size: 12px;
    }
  }
  .title {
    color: #1a1a1a;
    font-size: 0.857em;
    font-weight: 500;
    &:hover {
      color: #000;
    }
  }
  .rv-widget-badge {
    justify-content: center;
  }

  @include adapt-to('super-large') {
    .collection-image-container {
      &:hover {
        &:global(:not(.hover-no-effect)) {
          &:before {
            visibility: visible;
            opacity: 1;
          }
        }
        &:global(.hover-secondary) {
          + {
            img {
              display: block;
            }
          }
        }

        &:global(:not(.adjust-height)) {
          .hover-secondary {
            display: none;
            + {
              img {
                display: block;
                top: 0;
              }
            }
          }
        }
      }
      &:hover {
        &:global(.adjust-height) {
          .hover-secondary {
            &:not(.progressive)[lazy=loading] {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

@include adapt-to('super-super-large') {
  .collection-product-wrap-add-cart {
    padding: 12px 12px 0;
    margin: -12px -12px 0;
    transition: box-shadow .3s ease;
    &:hover {
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08);
      &:after {
        height: 64px;
      }
      .btn-show-variant {
        visibility: visible;
        opacity: 1;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 0;
      background-color: #fff;
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08);
      z-index: 1;
      transition: height .3s ease;
    }
    .btn-show-variant {
      position: absolute;
      top: 100%;
      left: 12px;
      width: calc(100% - 24px);
      z-index: 11;
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }
}
