@import '../../../themes/mixins/adaptive';
@import '../../../themes/mixins/utils';
@import '../../../themes/specific/loading-component';

.phone {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: #111;

  padding: 0 0.6rem;

  &:hover {
    text-decoration: none;
    color: #007aff;
  }

  &.loading {
    .phone-thumb {
      width: 80%;
      @include loading-component();
    }

    .phone-name {
      @include loading-component();
      width: 70%;
      height: 1.4rem;
      border-radius: 1rem;
      margin-top: 0.4rem;
    }
  }

  .phone-thumb {
    position: relative;

    max-width: 100%;
    height: 44px;
  }
  .phone-name {
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    @include truncate(2);
  }

  @include adapt-to('super-large') {
    .phone-thumb {
      height: 54px;
    }
  }
}
