.fist-blog-item {
  @import '../../themes/mixins/utils';

  background-color: rgba(0, 0, 0, 0.8);
  float: left;
  width: 100%;

  .blog-item-content {
    padding: 50px 40px 60px;
  }

  .title-author {
    margin-bottom: 15px;

    span {
      font-size: 0.75em;
    }
  }

  .cover-image {
    width: 100%;
    height: 540px;
    background-size: cover;
    background-position: center;
  }

  .description {
    @include truncate(4)
  }
}
