.short-list-service {
  padding: 5vh 0;
  float: left;
  width: 100%;
  z-index: 2!important;
  clear: both;

  .list-service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  :global {
    .row {
      z-index: 2!important;
    }

    .container {
      z-index: 2!important;
    }
  }
}
