.breadcrumb {
  .breadcrumb-link {
    font-size: 0.7143em;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999
  }
}


.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

.breadcrumb {
  display: flex;
  align-items: center;
  color: #777;
  line-height: 1.5
}

.breadcrumb-completed {
  text-decoration: none;
  color: #57b627
}

.breadcrumb-current {
  font-weight: 500;
  color: #000
}

