/* Break point này chỉ tính chiều ngang màn hình bất kể landcape/portrait */
$break-small-device: 576px; /* Large desktop: >= 1280 */
$break-medium-device: 720px; /* Large desktop: >= 1280 */
$break-touch-device: 768px; /* Large desktop: >= 1280 */
$break-large-device: 1024px; /* Large desktop: >= 1280 */
$break-super-large-device: 1200px; /* Large desktop: >= 1280 */

@mixin adapt-to($media) {
  @if $media == small {
    /* Special case fix riêng cho mobile màn hình nhỏ (dưới 4.7") */
    @media only screen and (max-width: $break-small-device - 1) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-width: $break-small-device) and (max-width: $break-medium-device - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-width: $break-medium-device) and (max-width: $break-large-device) {
      @content;
    }
  } @else if $media == super-large {
    @media only screen and (min-width: $break-large-device + 1) {
      @content;
    }
  } @else if $media == super-super-large {
    @media only screen and (min-width: $break-super-large-device) {
      @content;
    }
  } @else if $media == greater-small {
    @media only screen and (min-width: $break-small-device) {
      @content;
    }
  } @else if $media == greater-medium {
    @media only screen and (min-width: $break-medium-device) {
      @content;
    }
  } @else if $media == touch {
    @media only screen and (max-width: $break-touch-device) {
      @content;
    }
  } @else if $media == enough-size {
    @media only screen and (min-width: $break-small-device) and (max-width: $break-super-large-device - 1) {
      @content;
    }
  }
}
