@import './compatibility';

//@mixin transition($time, $animation-type) {
//    -webkit-transition: width $time $animation-type;
//    -moz-transition: width $time $animation-type;
//    -ms-transition: width $time $animation-type;
//    -o-transition: width $time $animation-type;
//    transition: width $time $animation-type;
//}

/* Effect nhún nhẹ (manual) */
@mixin swing-effect($start, $end, $duration, $delay-time) {
  @include animation(swing $duration $delay-time);

  /* Animation code */
  @keyframes swing {
    0% {
      top: -$start;
    }

    50% {
      top: 0;
    }

    55% {
      top: $end;
    }

    95% {
      top: -$end;
    }

    100% {
      top: 0;
    }
  }
}

/* Effect: nhún mạnh */
@keyframes bounce-effect {
  0% {
    top: -1rem;
  }

  40% {
    top: 0rem;
  }

  60% {
    top: -0.2rem;
  }

  75% {
    top: 0rem;
  }

  85% {
    top: -0.1rem;
  }

  100% {
    top: 0rem;
  }
}

/* Effect: quay tròn */
@keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

/* Effect: nhấp nháy nhẹ */
@keyframes ping-light {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.16;
  }
}

/* Effect: Di chuyển từ mép trái sang phải */
@keyframes slide-out-right {
  0% {
    @include transform(translateX(-100%));
  }

  100% {
    @include transform(translateX(0%));
  }
}

/* Effect: vòng lặp di chuyển & xuất hiện rồi biến mất */
@mixin bounceAlpha($axis: y) {
  @if $axis == y {
    @keyframes bounceAlpha {
      0% {
        transform: translateY(0rem) scale(1);
        opacity: 1;
      }

      25% {
        transform: translateY(1rem) scale(0.9);
        opacity: 0;
      }

      26% {
        transform: translateY(-1rem) scale(0.9);
        opacity: 0;
      }

      55% {
        transform: translateY(0rem) scale(1);
        opacity: 1;
      }

      25% {
        transform: translateY(1rem) scale(0.9);
        opacity: 0;
      }

      26% {
        transform: translateY(-1rem) scale(0.9);
        opacity: 0;
      }

      55% {
        transform: translateY(0rem) scale(1);
        opacity: 1;
      }
    }
  }

  /* name || duration || timing-function || delay || iteration-count || direction || fill-mode || play-state */
  @include animation(bounceAlpha 1.4s linear 0s infinite);

  /* animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}
