@import './prefix';

@mixin transition($value, $flag: null) {
  @include prefix(transition, $value, ('webkit', 'o', 'moz'));

  @if $flag == null {
    /* Force Hardware Acceleration in WebKit with translate3d */
    @include transform(translateZ(0));
  }
}

@mixin transition-property($value) {
  @include prefix(transition-property, $value, ('webkit', 'o', 'moz'));
}
@mixin transition-timing-function($value) {
  @include prefix(transition-timing-function, $value, ('webkit', 'o', 'moz'));
}
@mixin transition-duration($value) {
  @include prefix(transition-duration, $value, ('webkit', 'o', 'moz'));
}
@mixin transition-delay($value) {
  @include prefix(transition-delay, $value, ('webkit', 'o', 'moz'));
}

/* name || duration || timing-function || delay || iteration-count || direction || fill-mode || play-state */
@mixin animation($value, $property-name: null) {
  @if $property-name == null {
    @include prefix(animation, $value, ('webkit'));
  } @else {
    @include prefix(animation-#{$property-name}, $value, ('webkit'));
  }

  /* Force Hardware Acceleration in WebKit with translate3d */
  @include transform(translateZ(0));
}

@mixin transform($value) {
  @include prefix(transform, $value, ('webkit', 'ms'));
}

@mixin hyphens($value) {
  @include prefix(hyphens, $value, ('webkit', 'ms'));
}

@mixin text-overflow($value) {
  @include prefix(text-overflow, $value, ('o'));
}

@mixin text-size-adjust($value) {
  @include prefix(text-size-adjust, $value, ('webkit', 'ms'));
}

/* New updated */
@mixin word-break($value) {
  @include prefix(word-break, $value);
}

@mixin filter($value) {
  @include prefix(filter, $value, ('webkit'));
}

@mixin appearance($value) {
  @include prefix(appearance, $value, ('webkit', 'moz'));
}

@mixin box-sizing($value) {
  @include prefix(box-sizing, $value, ('webkit'));
}

@mixin mask-image($value) {
  @include prefix(mask-image, $value, ('webkit'));
}

@mixin mask-size($value) {
  @include prefix(mask-size, $value, ('webkit'));
}
