/* Font import mixin */
@mixin import-fonts($root-folder, $font-folder, $font-styles, $extension: 'woff') {
  @each $font-style, $font-name in $font-styles {
    @if $font-style == 900 {
      $font-name: 'Black';
    } @else if $font-style == 800 {
      /* Extrabold */
      $font-name: 'Heavy';
    } @else if $font-style == 700 {
      $font-name: 'Bold';
    } @else if $font-style == 600 {
      $font-name: 'Semibold';
    } @else if $font-style == 500 {
      $font-name: 'Medium';
    } @else if $font-style == 400 {
      $font-name: 'Regular';
    } @else if $font-style == 300 {
      $font-name: 'Light';
    } @else if $font-style == 200 {
      $font-name: 'Thin';
    } @else if $font-style == 100 {
      /* Extralight */
      $font-name: 'Ultralight';
    }

    @font-face {
      src: url('#{$root-folder}fonts/#{$font-folder}/#{$font-name}.#{$extension}')
        format('woff');
      font: {
        family: $font-folder;
        style: normal;
        weight: $font-style;
      }
    }

    @if $font-folder != 'TTNorms' {
      @font-face {
        src: url('#{$root-folder}fonts/#{$font-folder}/#{$font-name}Italic.#{$extension}')
          format('woff');
        font: {
          family: $font-folder;
          style: italic;
          weight: $font-style;
        }
      }
    }
  }
}
