@import './utils';
$baseurl: '/';


@mixin media-object-fit {
  &.obj {
    &-fill {
      object-fit: fill;
    }

    &-contain {
      object-fit: contain;
    }

    &-cover {
      object-fit: cover;
    }

    &-none {
      object-fit: none;
    }

    &-scale-down {
      object-fit: scale-down;
    }
  }
}


/* Import 1 image, phải set width & height mới hiển thị */
@mixin background($image-folder, $image-name, $width: null, $height: $width) {
  display: inline-block;

  /* Fix lỗi có thêm border/padding thì size bị hao hụt */
  box-sizing: content-box;

  background: url($baseurl+'media/images/#{$image-folder + $image-name}');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Set width & height */
  @if $width != null {
    @include fixed-size($width, $height);
  }

  @content;
}
