@mixin arrow(
  $directions,
  $color: black,
  $width-size: 0.6rem,
  $height-size: 0.7rem
) {
  @each $direction in $directions {
    display: inline-block;

    @if $direction == 'up' {
      border-right: $height-size solid transparent;
      border-bottom: $width-size solid $color;
      border-left: $height-size solid transparent;
    } @else if $direction == 'down' {
      border-top: $width-size solid $color;
      border-right: $height-size solid transparent;
      border-left: $height-size solid transparent;
    }

    width: 0;
    height: 0;
    content: ' ';

    @content;
  }
}

@mixin arrowOverride(
  $directions,
  $color: black,
  $width-size: 0.6rem,
  $height-size: 0.7rem
) {
  @each $direction in $directions {
    display: inline-block;

    @if $direction == 'up' {
      border-right: $height-size solid transparent!important;
      border-bottom: $width-size solid $color!important;;
      border-left: $height-size solid transparent!important;;
    } @else if $direction == 'down' {
      border-top: $width-size solid $color!important;;
      border-right: $height-size solid transparent!important;;
      border-left: $height-size solid transparent!important;;
    }

    width: 0;
    height: 0;
    content: ' ';

    @content;
  }
}

@mixin arrowBorder(
  $direction,
  $color-background: #fff,
  $color-border: #000,
  $border-with: 0.1,
  $size: 0.6
) {

  background: #{$color-background}!important;
  border: #{$border-with}rem solid #{$color-border}!important;
  &:after, &:before {
    bottom: 100%!important;
    left: 70%!important;
    border: solid transparent!important;
    content: " "!important;
    height: 0!important;
    width: 0!important;
    position: absolute!important;
    pointer-events: none!important;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0) !important;
    border-width: #{$size}rem!important;
    margin-left: -#{$size}rem!important;

    @if $direction == 'up' {
      border-bottom-color: #{$color-background}!important;
      top: auto!important;
    } @else if $direction == 'down' {
      border-top-color: #{$color-background}!important;
      bottom: -#{$size*2}rem!important;
    }
  }
  &:before {
    border-color: rgba(194, 225, 245, 0)!important;
    border-width: #{$size + $border-with*1.5}rem!important;
    margin-left: -#{$size + $border-with*1.5}rem!important;

    @if $direction == 'up' {
      border-bottom-color: #{$color-border}!important;
      top: auto!important;
    } @else if $direction == 'down' {
      border-top-color: #{$color-border}!important;
      bottom: -#{($size + $border-with*1.5) * 2}rem!important;
    }
  }

  @content;
}
