@import './prefix';

@mixin fit-content($size-property: width) {
  @include prefix-value($size-property, fit-content, ('webkit', 'moz'));

  /* Old WebKit support intrinsic and min-intrinsic keywords, but removed in Chrome 48 */
  $size-property: intrinsic; /* Safari/WebKit uses a non-standard name */

  /* Thuộc tính tương tự */
  //width: auto;

  @content;
}

@mixin max-content($axis) {
  @if $axis == x {
    @include prefix-value(width, max-content, ('webkit', 'moz'));
    //width: intrinsic;  /* Safari/WebKit uses a non-standard name */
  } @else if $axis == y {
    @include prefix-value(height, max-content, ('webkit', 'moz'));
    //height: intrinsic; /* Safari/WebKit uses a non-standard name */
  }
}

/* Fake input type password */
@mixin text-security() {
  /* Hiện ko còn browser nào hỗ trợ */
  @include prefix-value(text-security, disc, ('webkit', 'moz'));
}

/* Prevent background color leak outs */
@mixin background-bleed($value: padding-box) {
  /* Không cần dùng prefix cũng được */
  @include prefix-value(background-clip, $value, ('webkit', 'moz'));
}

/* Prevent both scroll chaining and overscroll affordance */
/* $axis: x || y */
@mixin scroll-chaining($axis: y) {
  /* Chrome */
  overscroll-behavior-#{$axis}: none;

  /* IE */
  //-ms-scroll-chaining-#{$axis}: none;

  /* Firefox/Safari */
  scroll-boundary-behavior-#{$axis}: none;
  scroll-behavior-#{$axis}: smooth;
}

/* Sticky */
@mixin sticky($index) {
  @include prefix-value(position, sticky, ('webkit'));
  z-index: $index;

  height: 100%;

  @content;
}

/* Init fixed size */
@mixin fixed-size($width, $height: null) {
  @if $width != null {
    min-width: $width;
    max-width: $width;
  }

  @if $height != null {
    min-height: $height;
    max-height: $height;
  }

  @content;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;

  @content;
}

@mixin truncate($num-line: 1) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $num-line;
  -webkit-box-orient: vertical;
}
