.group-list-service {
  padding: 5vh 0;
  float: left;
  width: 100%;
  clear: both;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 60px;
}

@media (min-width: 320px) {
  #country-badges a {
    width: 14%;
  }
  #Country-Badges a small {
    font-size: 75%;
  }
  #Country-Networks .btn {
    width: 80%;
    margin: 0 10%;
  }
}

@media (min-width: 768px) {
  #country-badges a {
    width: 7%;
  }
  #Country-Badges a small {
    font-size: 95%;
  }
  #Country-Networks .btn {
    width: 50%;
    margin: 0 25%;
  }
}
