.carousel-banner-generic {
  :global {
    .slick-list {
      height: 100%;
    }

    .slick-dots {
      li {
        margin: 0;
      }
      button {
        padding: 3px;
        &:before {
          font-size: 18px;
        }
      }
    }
  }
}
