.style_post-detail-image__22Hil{width:auto;height:100%;max-height:3rem;border-radius:.2rem}.style_post-detail-button-delete__InMuf{color:#ff1744}.style_post-detail__2iB_l .style_content__3ChK8,.style_post-detail__2iB_l .style_content__3ChK8 *{text-overflow:ellipsis;white-space:break-spaces}