.style_list-phone-service-image__213Va{width:auto;height:100%;max-height:3rem;border-radius:.2rem}.style_list-phone-service-button-delete__IeO0Y{color:#ff1744}.style_list-phone-service-button-sync__bSoQV{color:#0ac603;margin-right:10px}