@import '../../themes/variables/theme-color';
@import '../../themes/mixins/adaptive';

.parallax-intro {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: $background-color;

  height: 90vh;

  .intro-background {
    transform: translateY(23rem);
  }

  //
  //.content {
  //  height: calc(100vh - 15rem);
  //}

  :global {
    .row {
      .col-xs-10 {
        @include adapt-to('small') {
          top: 5rem;
        }
      }
    }
  }

  .hide-button {
    opacity: 0!important;
    visibility: hidden!important;
  }

  :global {
    .arrow {
      opacity: 1;
      visibility: inherit;
      transition: all 1s;
      -webkit-transition: all 0.5s;
    }
  }
}
