@mixin loading-component {
  background-size: 100rem 100%;
  background-image: linear-gradient(
                  to right,
                  rgba($color: black, $alpha: 0.05) 0,
                  rgba($color: black, $alpha: 0.08) 15%,
                  rgba($color: black, $alpha: 0.05) 30%
  );
  background-color: rgba($color: black, $alpha: 0.01);
  animation-name: loadingLeftToRight;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loadingLeftToRight {
  0% {
    background-position: -100rem 0;
  }
  100% {
    background-position: 100rem 0;
  }
}
