@import '../../themes/mixins/adaptive';
@import '../../themes/specific/loading-component';

.collection-product-wrap {

  &.loading {
    .collection-image-container {
      background-color: #f2f3f4;
      padding: 40% 0;
    }

    .title {
      width: 65%;
      height: 2.2rem;

      margin: auto;

      @include loading-component();
    }
  }

  .collection-image-container {
    position: relative;
    &:before {
      content: '';
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all .2s ease-in;
      z-index: 1
    }
    img {
      width: 100%
    }
  }

  .hover-image {
    :global {
      .image-wrap:before {
        background-color: transparent !important;
      }
    }
    img {
      width: 100%;
      transition: .75s all;
    }
    &:hover {
      img {
        transition: .5s all;
        transform: scale(1.1);
      }
    }
  }

  .collection-image-container.adjust-height {
    padding-top: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      width: 100%;
      &:before {
        background-color: #f2f3f4;
      }
    }
  }

  .title {
    color: #1a1a1a;
    font-size: 0.857em;
    font-weight: 500;
  }

  @include adapt-to('super-large') {
    .collection-image-container {
      &:hover {
        &:global(:not(.hover-no-effect)) {
          &:before {
            visibility: visible;
            opacity: 1;
          }
        }
        .hover-secondary {
          + {
            img {
              display: block;
            }
          }
        }
        &:not(.adjust-height) {
          .hover-secondary {
            display: none;
            + {
              img {
                display: block;
                top: 0;
              }
            }
          }
        }
      }
      &:hover.adjust-height {
        .hover-secondary {
          &:not(.progressive)[lazy=loading] {
            background-color: transparent;
          }
        }
      }
    }
  }

}
