.form-checking {
  background-color: #fff;
  position: relative;
  padding-bottom: 15px;
  padding-top: 5vh;

  @media (min-width: 992px) {
    padding-bottom: 75px;
    padding-top: 60px;
  }
  :global {
    #formIMEIChecking img {
      //position: absolute;
      z-index: 0;
    }

    #request .field-validation-error, .field-validation-error {
      text-indent: 0;
      height: unset;
      margin-top: 3px;
    }

    @media (min-width: 320px) {
      .margin-right {
        margin-right: 0;
      }

      .margin-left {
        margin-left: 0;
      }

      #formIMEIChecking .container {
        padding: 100vw 15px 0;
      }
      #formIMEIChecking img {
        //top: 44px;
        bottom: auto;
        left: 0;
        width: 100%;
      }
    }

    @media (min-width: 992px) {
      #formIMEIChecking img {
        position: absolute;
      }
      .margin-right {
        margin-right: 7.5px;
      }

      .margin-left {
        margin-left: 7.5px;
      }

      #formIMEIChecking .container {
        padding: 100px 15px 100px;
      }
      #formIMEIChecking img {
        bottom: 0;
        top: 140px;
        left: auto;
        right: 50%;
        width: 35%;
        max-width: 480px;
      }
    }
  }
}
