html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ReactModalPortal {
  z-index: 999;
}

@media screen and (min-width: 769px) {
  .ReactModal__Content {
    margin:0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
    inset: auto!important;
  }
}

.delete,.modal-close {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10,10,10,.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px
}

.delete:after,.delete:before,.modal-close:after,.modal-close:before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center
}

.delete:before,.modal-close:before {
  height: 2px;
  width: 50%
}

.delete:after,.modal-close:after {
  height: 50%;
  width: 2px
}

.delete:focus,.delete:hover,.modal-close:focus,.modal-close:hover {
  background-color: rgba(10,10,10,.3)
}

.delete:active,.modal-close:active {
  background-color: rgba(10,10,10,.4)
}

.is-small.delete,.is-small.modal-close {
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px
}

.is-medium.delete,.is-medium.modal-close {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px
}

.is-large.delete,.is-large.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px
}

.button.is-loading:after,.control.is-loading:after,.loader,.select.is-loading:after {
  -webkit-animation: spinAround .5s linear infinite;
  animation: spinAround .5s linear infinite;
  border-radius: 290486px;
  border-color: transparent transparent #dbdbdb #dbdbdb;
  border-style: solid;
  border-width: 2px;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em
}

.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;

  background: 0 0;
  position: fixed;
  right: 20px;
  top: 20px;
}

