.payment-failed {
  :global {
    @media screen and (min-width: 1024px) {
      .section.is-large {
        padding: 18rem 1.5rem;
      }
    }

    .hero-body, .section {
      padding: 3rem 1.5rem;
    }


    .subtitle:not(:last-child), .title:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .has-text-centered {
      text-align: center!important;
    }

    .mb-6 {
      margin-bottom: 3rem!important;
    }

    .title {
      color: #1d1d1f;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.125;
    }

    .subtitle, .title {
      word-break: break-word;
    }

    .title:not(.is-spaced)+.subtitle {
      margin-top: -1.25rem;
      margin-bottom: 1.5rem;
    }

    .subtitle {
      color: #4a4a4a;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.25;
    }

    .subtitle, .title.is-5 {
      line-height: 1.5;
    }

    .subtitle.is-6 {
      line-height: 1.5;
    }
    .subtitle.is-6 {
      font-size: 1.3rem;
    }
  }
}
